<div>
  <div class="row">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-header">
          <h6>ตัดลูกหนี้</h6>
        </div>
        <div class="card-body">
          <!-- <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="depdate">Statement</label>
                <select id="statement" class="custom-select" ng-model="statement">
                  <option selected value="">ทั้งหมด</option>
                </select>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <button class="form-control btn btn-primary" ng-disabled="!statement" ng-click="search()">
                  ค้นหา</button>
              </div>
            </div>
          </div> -->
          <div class="row">
            <div class="col-12">
              <table datatable="ng" dt-options="dtOptions" dt-instance="dtInstance"
                  class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th>Statement</th>
                      <th>ยอดเงิน (บาท)</th>
                      <th>จำนวน (Visit)</th>
                      <th>จำนวนตัดแล้ว (Visit)</th>
                      <th>วันที่นำเข้า</th>
                      <th>ประเภท</th>
                      <th>ตัดลูกหนี้</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in listStatement">
                      <td>{{item.statement_no}}</td>
                      <td class="text-right">{{item.statement_amount | currency:""}}</td>
                      <td>{{item.statement_count | number}}</td>
                      <td>{{item.debt  | number}}</td>
                      <td>{{item.create_date | date : "dd/MM/yyyy"}}</td>
                      <td>{{item.statement_type}}</td>
                      <td><button class="btn btn-primary" ng-click="debt(item)" ng-disabled="item.disabled"><i class="fa fa-cut"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    // $("#statement").select2({
    //   theme: "bootstrap",
    //   ajax: {
    //     url: '/debtor/listStatement',

    //     // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
    //     processResults: function (data) {
    //       console.log(data);

    //       // Transforms the top-level key of the response object from 'items' to 'results'
    //       return {
    //         results: data.statement.statement_no
    //       };
    //     }
    //   }
    // });

    $("#statement").select2({
      theme: "bootstrap",
      ajax: {
        url: "/debtor/listStatement",
        dataType: 'json',
        delay: 250,
        data: function (params) {
          return {
            q: params.term, // search term
            page: params.page
          };
        },
        processResults: function (data, params) {        
          return {
            results: data.ddstatement,
          };
        },
        cache: false
      },
      placeholder: 'ค้นหา',
      minimumInputLength: 1,
    
    });
   
  });
</script>