<div>
  <div class="row">
    <div class="col-12 mb-4">
      <div class="card shadow mb-4">
        <div class="card-header card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6> รายการลูกหนี้ Hosxp</h6>
        </div>
        <div class="card-body">
          <form id="search">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="depdate">วันที่รับบริการ</label>
                  <input class="form-control datepicker" type="text" name="datestart" autocomplete="off"
                    ng-model="datestart" value="{{datestart}}" />
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="depdate">ถึงวันที่</label>
                  <input class="form-control datepicker" type="text" name="dateend" autocomplete="off"
                    ng-model="dateend" value="{{dateend}}" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="depdate">HN</label>
                  <input class="form-control" type="text" ng-model="hn" name="hn" />
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="depdate">สิทธิ</label>
                  <select class="custom-select" ng-model="pttype">
                    <option selected value="">ทั้งหมด</option>
                    <option value="92">เบิกจ่ายตรง</option>
                    <option value="77">เบิกจ่ายตรง กทม.</option>
                    <option value="55">เบิกจ่ายตรง กกต./สปสช.</option>
                    <option value="A6">เบิกจ่ายตรงเมืองพัทยา</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" name="customRadioInline1" value="true"
                      ng-model="noinvno" ng-checked="true" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline1">รายการไม่มีเลขตอบกลับ</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" name="customRadioInline1" value="true"
                      ng-model="nostatement" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline2">รายการยังไม่ตัดลูกหนี้</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" ng-click="searchDebt()"> <i class="fa fa-search"></i> ค้นหา</button>
            </div>
          </form>
          <hr>
          <div class="text-center">
            <div class="row">
              <div class="col-12">
                <table datatable="ng" dt-options="dtOptions" class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th scope="col">HN</th>
                      <th scope="col">ชื่อ-สกุล</th>
                      <th scope="col">วันที่ </th>
                      <th scope="col">เวลา </th>
                      <th scope="col">ยอดเงิน</th>
                      <th scope="col">เลขตอบกลับ</th>
                      <th scope="col">statement</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in debt">
                      <td>{{item.hn}}</td>
                      <td class="text-right">{{item.name}}</td>
                      <td>{{item.date}}</td>
                      <td>{{item.time}}</td>
                      <td>{{item.sum}}</td>
                      <td>{{item.rid}}</td>
                      <td>{{item.statement}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('.datepicker').datepicker({
      format: 'dd/mm/yyyy',
      autoclose: true,
      todayHighlight: true,
      language: 'th'
    });
  });
</script>