<div>
  <div class="row">
    <div class="col">
      <div class="card shadow mb-2">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6>กราฟ</h6>
        </div>
        <div class="card-body">
            <canvas id="myChart" width="100%" height="400"></canvas>
        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card shadow mb-2">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6>กราฟ</h6>
        </div>
        <div class="card-body">
            <canvas class="chart chart-line" chart-data="data" chart-labels="labels" 
            chart-series="series" chart-click="onClick"></canvas> 
        </div>

      </div>
    </div>
  </div>
</div>