<div>
  <div class="row">
    <div class="col-12 mb-2">
      <div class="card shadow mb-2">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6>ค้นหา</h6>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="depdate">วันที่รับบริการ</label>
                <input class="form-control datepicker" type="text" name="datestart" autocomplete="off"
                  ng-model="datestart" value="{{datestart}}" />
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="depdate">ถึงวันที่</label>
                <input class="form-control datepicker" type="text" name="dateend" autocomplete="off" ng-model="dateend"
                  value="{{dateend}}" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="depdate">สิทธิ</label>
                <select class="custom-select" ng-model="pttype">
                  <option selected value="">ทั้งหมด</option>
                  <option value="92">เบิกจ่ายตรง</option>
                  <option value="77">เบิกจ่ายตรง กทม.</option>
                  <option value="55">เบิกจ่ายตรง กกต./สปสช.</option>
                  <option value="A6">เบิกจ่ายตรงเมืองพัทยา</option>
                </select>
              </div>
            </div>
            <div class="col-6">
            
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <div class="form-group">
                <button class="form-control btn btn-primary" ng-disabled="!datestart||!dateend" ng-click="search()">
                  <i class="fa fa-search"></i> ค้นหา</button></div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <button class="form-control btn btn-success" ng-disabled="!datestart||!dateend" ng-click="excel()">
                  <i class="fa fa-download"></i> Excel</button></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">ลูกหนี้ทั้งหมด</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{row.all||0}}</div>
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">ยอดเงิน</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{row.all_money||0  | currency:""}} บาท</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-users fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">ตัดลูกหนี้</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{row.debt||0}}</div>
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">ยอดเงิน</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{row.debt_money||0 | currency:""}} บาท</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-cut fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">ยังไม่ตัด</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{row.notDebt||0}}</div>
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">ยอดเงิน</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{row.notDebt_money||0 | currency:""}} บาท</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-exclamation-circle fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">ไม่มีเลขตอบกลับ</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{row.notSend||0}}</div>

            </div>
            <div class="col-auto">
              <i class="fas fa-cat fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('.datepicker').datepicker({
      format: 'dd/mm/yyyy',
      autoclose: true,
      todayHighlight: true,
      language: 'th'
    });
  });
</script>