<div>
  <div class="row">
    <div class="col-12 mb-4">
      <div class="card shadow mb-4">
        <div class="card-header card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6> รายการ Statement</h6>
          <button type="button" class="btn btn-primary" ng-click="beforeUpload()" data-toggle="modal"
            data-target="#uploadModal">
            <i class="fa fa-upload"></i> Upload
          </button>
        </div>
        <div class="card-body">
          <div class="text-center">
            <div class="row">
              <div class="col-12">
                <table datatable="ng" dt-options="dtOptions" dt-instance="dtInstance"
                  class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th>Statement</th>
                      <th>ยอดเงิน (บาท)</th>
                      <th>จำนวน (Visit)</th>
                      <th>จำนวนตัดแล้ว (Visit)</th>
                      <th>วันที่นำเข้า</th>
                      <th>ประเภท</th>
                      <th>เล่มที่ใบเสร็จ</th>
                      <th>เลขที่ใบเสร็จ</th>
                      <th>วันที่ใบเสร็จ</th>
                      <th>ใบเสร็จ</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in listStatement">
                      <td>{{item.statement_no}}</td>
                      <td class="text-right">{{item.statement_amount | currency:""}}</td>
                      <td>{{item.statement_count | number}}</td>
                      <td>{{item.debt  | number}}</td>
                      <td>{{item.create_date | date : "dd/MM/yyyy"}}</td>
                      <td>{{item.statement_type}}</td>
                      <td>{{item.bill_vol}}</td>
                      <td>{{item.bill_no}}</td>
                      <td>{{item.bill_date  | date : "dd/MM/yyyy"}}</td>
                      <td><button class="btn btn-primary" ng-click="editbill(item)"><i class="fa fa-receipt"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="uploadModalLabel">Upload Statement</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <div ng-show="upload_show" class="alert alert-primary" role="alert">
                {{upload_message}}
              </div>
              <form class="form-inline" id='Upload'>
                <div class="form-group">
                  <div class="custom-file">
                    <input class="custom-file-input" id="statement" type="file" name="statement"
                      file-model="statement" />
                    <label class="custom-file-label mx-sm-3" for="customFileLangHTML" data-browse="เลือก">Statement
                    </label>
                  </div>
                </div>
                <button class="btn btn-primary"  ng-disabled="!statement" ng-click="upload()">Upload </button>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="uploadModalLabel">Edit Statement Bill </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <form class="form">
                <div class="form-group">

                  <div ng-show="show" class="alert alert-primary" role="alert">
                    {{edit_message}}
                  </div>
                  <label for="exampleInputEmail1">เลขที่ statement</label>
                  <input type="text" name="" class="form-control" id="" value="{{edit.statement}}" readonly>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">ใบเสร็จเล่มที่</label>
                  <input class="form-control" id="exampleInputEmail1" ng-model="bill_vol" type="number"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    aria-describedby="emailHelp" placeholder="กรุณากรอก ใบเสร็จเล่มที่" maxlength="4"
                    value="{{edit.bill_vol}}" />
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">ใบเสร็จเลขที่</label>
                  <input class="form-control" id="exampleInputEmail1" ng-model="bill_no" type="number"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    aria-describedby="emailHelp" placeholder="กรุณากรอก ใบเสร็จเลขที่" maxlength="3"
                    value="{{edit.bill_no}}" />
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">วันที่ใบเสร็จ</label>
                  <!-- <input class="form-control" id="exampleInputEmail1" ng-model="bill_date" type="email"
                    aria-describedby="emailHelp" placeholder="กรุณาเลือก วันที่ใบเสร็จ" /> -->

                  <input class="form-control datepicker" type="text" name="datestart" autocomplete="off"
                    ng-model="bill_date" value="12/10/2019" />

                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" ng-click="bill()"  ng-disabled="!bill_vol || !bill_no  || !bill_date">บันทึก </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    bsCustomFileInput.init()
    $('.datepicker').datepicker({
      format: 'dd/mm/yyyy',
      autoclose: true,
      todayHighlight: true,
      language: 'th'
    });
  })
</script>