extends ../layout

block content
  .d-sm-flex.align-items-center.justify-content-between.mb-4
    h1.h3.mb-0.text-gray-800 ตัดลูกหนี้
    //- a.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(href='#')
      i.fas.fa-download.fa-sm.text-white-50
      |  Generate Report 
  if save
    .alert.alert-success(role='alert', id ='alert') #{mseeage} 
  .row    
    //- if sum
    //-   .col-xl-3.col-md-6.mb-4
    //-     .card.border-left-primary.shadow.h-100.py-2
    //-       .card-body
    //-         .row.no-gutters.align-items-center
    //-           .col.mr-2
    //-             .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 จำนวนตอบกลับตรงกัน
    //-             .h5.mb-0.font-weight-bold.text-gray-800 #{sum.Match} Visit
    //-           .col-auto
    //-             i.fas.fa-check.fa-2x.text-gray-300
    //-   .col-xl-3.col-md-6.mb-4
    //-     .card.border-left-success.shadow.h-100.py-2
    //-       .card-body
    //-         .row.no-gutters.align-items-center
    //-           .col.mr-2
    //-             .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 ไม่พบตอบกลับ Statement 
    //-             .h5.mb-0.font-weight-bold.text-gray-800 #{sum.notMatch} Visit
    //-           .col-auto
    //-             i.fas.fa-times.fa-2x.text-gray-300
    //-   .col-xl-3.col-md-6.mb-4
    //-     .card.border-left-danger.shadow.h-100.py-2
    //-       .card-body
    //-         .row.no-gutters.align-items-center
    //-           .col.mr-2
    //-             .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 ไม่พบข้อมูล ตั้งลูกหนี้
    //-             .h5.mb-0.font-weight-bold.text-gray-800 #{sum.xmlData} Visit
    //-           .col-auto
    //-             i.fas.fa-times.fa-2x.text-gray-300
    //-   .col-xl-3.col-md-6.mb-4
    //-     .card.border-left-warning.shadow.h-100.py-2
    //-       .card-body
    //-         .row.no-gutters.align-items-center
    //-           .col.mr-2
    //-             .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 ...
    //-             //- .h5.mb-0.font-weight-bold.text-gray-800 #{sum.xmlData} Visit
    //-           .col-auto
    //-             i.fas.fa-list-alt.fa-2x.text-gray-300
    .col-lg-6.mb-4
      .card.shadow.mb-4
        .card-header.py-3
          h6.m-0.font-weight-bold.text-danger ค้นหา 
            //- span.badge.badge-primary #{sum.Match}
        .card-body  
          form(action='/debtor', method='post',id='search')      
            .form-group 
              select.form-control.m-2(name='statement',id='statement')
                option(value='')   
                if statement
                  each item,index in statement
                    option(value=item.statement_no) #{item.statement_no}
            .form-group.form-check
              input#exampleCheck1.form-check-input(type='checkbox' name='nodete' value='true')
              label.form-check-label(for='exampleCheck1') เปรียบเทียบเฉพาะ HN กับยอดเงิน (เคสมีปัญหา) 
            .form-group      
              button.btn.btn-primary(type='submit') เปรียบเทียบ
    .col-lg-12.mb-4
      .card.shadow.mb-4
        .card-header.py-3
          h6.m-0.font-weight-bold.text-danger ตอบกลับตรงกัน 
            //- span.badge.badge-primary #{sum.Match}
        .card-body                                                       
          hr             
          form(action="/debtor/save",id='save' method="post")  
            input.form-control(type="hidden", name="statementsave", value=statement_no)             
            table(id="match", class='table table-striped table-sm')
              thead
                tr
                  th(scope='col') เลือก  
                  th(scope='col') ลำดับ  
                  th(scope='col') hos HN
                  th(scope='col') hos วันที่ 
                  th(scope='col') hos เวลา                    
                  th(scope='col') hos ยอดเงิน
                  th(scope='col') เลขตอบรับ
                  th(scope='col') st HN
                  th(scope='col') st วันที่ 
                  th(scope='col') st เวลา
                  th(scope='col') st ยอดเงิน
              tbody
                if Match                          
                  each item,index in Match
                    tr
                      td.text-center 
                        input#gridCheck.form-check-input(type='checkbox', checked='checked',name='cb'+index value=item.hisvn)
                      td(scope='row') #{index+1}
                      td #{item.hishn}                    
                      td #{item.hisdate}
                      td #{item.histime}                        
                      td.text-right #{item.hissum}
                      td #{item.rid}  
                      td #{item.xmlhn}                    
                      td #{item.xmldate}
                      td #{item.xmltime}
                      td.text-right #{item.xmlsum}  
            hr 
            if sum.Match != 0
              button.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModal')
                | บันทึก         
    //- .col-lg-12.mb-4
      // Project Card Example
      .card.shadow.mb-4
        .card-header.py-3.d-sm-flex.align-items-center.justify-content-between.mb-4
          h6.m-0.font-weight-bold.text-primary ตอบกลับยอดเงินไม่ตรง
            //- span.badge.badge-primary #{sum.notMatch}

        .card-body
          table(id="notMatch", class='table table-striped table-sm')
            thead
              tr 
                  th(scope='col') ลำดับ  
                  th(scope='col') hos HN
                  th(scope='col') hos วันที่ 
                  th(scope='col') hos เวลา                    
                  th(scope='col') hos ยอดเงิน
                  th(scope='col') เลขตอบรับ
                  th(scope='col') st HN
                  th(scope='col') st วันที่ 
                  th(scope='col') st เวลา
                  th(scope='col') st ยอดเงิน
            tbody
              if notMatch                          
                each item,index in notMatch
                  tr
                    th(scope='row') #{index+1}
                    td #{item.hishn}                    
                    td #{item.hisdate}
                    td #{item.histime}                        
                    td.text-right #{item.hissum}
                    td #{item.rid}  
                    td #{item.xmlhn}                    
                    td #{item.xmldate}
                    td #{item.xmltime}
                    td.text-right #{item.xmlsum}  
    //- .col-lg-12.mb-4
    //-   // Project Card Example
    //-   .card.shadow.mb-4
    //-     .card-header.py-3.d-sm-flex.align-items-center.justify-content-between.mb-4
    //-       h6.m-0.font-weight-bold.text-primary ไม่พบข้อมูล ตั้งลูกหนี้ 
    //-         //- span.badge.badge-primary #{sum.notMatchXml}
    //-       button.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(id='excelnotMatchXml') Excel
    //-     .card-body
    //-       table(id="notMatchXml", class='table table-striped table-sm')
    //-         thead
    //-           tr 
    //-             th(scope='col') ลำดับ  
    //-             th(scope='col') HN
    //-             th(scope='col') วันที่ 
    //-             th(scope='col') เวลา
    //-             th(scope='col') เลขตอบรับ
    //-             th(scope='col') ยอดเงิน
    //-         tbody
    //-           if st                          
    //-             each item,index in st
    //-               tr
    //-                 th(scope='row') #{index+1}
    //-                 td #{item.hn}                    
    //-                 td #{item.date}
    //-                 td #{item.time}
    //-                 td #{item.rid}
    //-                 td.text-center #{item.amount}   
  .modal.fade(tabindex='-1', role='dialog',id="exampleModal")
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title ยืนการบันทึกข้อมูลตัดลูกหนี้ 
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p บันทึกข้อมูลตัดลูกหนี้ #{sum.Match} Visit
        .modal-footer
          button.btn.btn-primary(type='button',id='confirm-save') ยืนยัน
          button.btn.btn-secondary(type='button', data-dismiss='modal') ยกเลิก     
  script(src='../lib/xlsx/dist/xlsx.core.min.js', lang="javascript" )    
  script(src='../lib/tableExport/dist/js/FileSaver.js', lang="javascript" )     
  script(src='../lib/tableExport/dist/js/tableexport.js', lang="javascript" )       
  script.
    $(document).ready(function() {
      $('#statement').select2({placeholder: 'เลือก Statement',theme: "bootstrap", width: '100%'  });
      $.blockUI({ message: '<div class="lds-ring"><div></div><div></div><div></div><div></div></div>' });
      $('#match').DataTable({      
        "pageLength": 20,
          "lengthChange": false,
          "language": {
            "info": "ลำดับ _START_ ถึง _END_ ทั้งหมด _TOTAL_ รายการ",
            "paginate": {
              "previous": "ก่อนหน้า",
              "next": "ถัดไป"
            },
            "search": 'ค้นหา'
          },
        "initComplete": function(settings, json) {   
          setTimeout(function(){ 
            $.unblockUI();
              setTimeout(function(){ $("#alert").alert("close"); }, 5000)   
          }, 2000)                                     
        }  
      });

      $('#notMatch').DataTable({      
        "pageLength": 20,
          "lengthChange": false,
          "language": {
            "info": "ลำดับ _START_ ถึง _END_ ทั้งหมด _TOTAL_ รายการ",
            "paginate": {
              "previous": "ก่อนหน้า",
              "next": "ถัดไป"
            },
            "search": 'ค้นหา'
          },
      });
      $('#notMatchXml').DataTable({      
        "pageLength": 20,
          "lengthChange": false,
          "language": {
            "info": "ลำดับ _START_ ถึง _END_ ทั้งหมด _TOTAL_ รายการ",
            "paginate": {
              "previous": "ก่อนหน้า",
              "next": "ถัดไป"
            },
            "search": 'ค้นหา'
          },
      });
      $('.datepicker').datepicker({
        format: 'dd/mm/yyyy',
        autoclose: true, 
        todayHighlight: true
      });
      $('#search').on('submit', function(e){
        $.blockUI({ message: '<div class="lds-ring"><div></div><div></div><div></div><div></div></div>' });
      })
      $('#save').on('submit', function(e){
        $.blockUI({ message: '<div class="lds-ring"><div></div><div></div><div></div><div></div></div>' });
        let $form = $(this);
        let match = $('#match').DataTable()
        match.$('input[type="checkbox"]').each(function(){
          if(!$.contains(document, this)){
            if(this.checked){
              $form.append(
                $('<input>')
                  .attr('type', 'hidden')
                  .attr('name', this.name)
                  .val(this.value)
              );
            }
          } 
        })
      })  
      $('#confirm-save').click(function (){
        $('#exampleModal').modal('hide')
        $('#save').submit();
      })
      //- $('#excelnotMatch').click(function (){
      //-   let Table =new TableExport(document.getElementById("notMatch"), {
      //-     headers: true,                      // (Boolean), display table headers (th or td elements) in the <thead>, (default: true)
      //-     footers: true,                      // (Boolean), display table footers (th or td elements) in the <tfoot>, (default: false)
      //-     formats: ['xlsx'],    // (String[]), filetype(s) for the export, (default: ['xlsx', 'csv', 'txt'])
      //-     filename: "id",                     // (id, String), filename for the downloaded file, (default: 'id')
      //-     bootstrap: false,                   // (Boolean), style buttons using bootstrap, (default: true)
      //-     exportButtons: false,                // (Boolean), automatically generate the built-in export buttons for each of the specified formats (default: true)
      //-     position: "bottom",                 // (top, bottom), position of the caption element relative to table, (default: 'bottom')
      //-     ignoreRows: null,                   // (Number, Number[]), row indices to exclude from the exported file(s) (default: null)
      //-     ignoreCols: null,                   // (Number, Number[]), column indices to exclude from the exported file(s) (default: null)
      //-     trimWhitespace: true,               // (Boolean), remove all leading/trailing newlines, spaces, and tabs from cell text in the exported file(s) (default: false)
      //-     RTL: false,                         // (Boolean), set direction of the worksheet to right-to-left (default: false)
      //-     sheetname: "id"                     // (id, String), sheet name for the exported spreadsheet, (default: 'id')
      //-   });
      //-   let exportData = Table.getExportData();
      //-   Table.export2file(exportData.notMatch.xlsx.data, exportData.notMatch.xlsx.mimeType, 'ไม่พบข้อมูลตอบกลับ', exportData.notMatch.xlsx.fileExtension);
      //- })

    });

