extends ../layout

block content
  .d-sm-flex.align-items-center.justify-content-between.mb-4
    h1.h3.mb-0.text-gray-800 รายการลูกหนี้
    //- a.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(href='#')
      i.fas.fa-download.fa-sm.text-white-50
      |  Generate Report 
  .row
    .col-lg-12.mb-4
      .card.shadow.mb-4
        .card-header.py-3
          h6.m-0.font-weight-bold.text-danger รายการ
        .card-body
          form(action='/debtor/listDebt', method='post',id='search') 
            .row  
              .col-6   
                .form-group
                  label(for='depdate') วันที่รับบริการ
                  input.form-control(type='text',class='datepicker',name="datestart", value=datestart, autocomplete="off")    
              .col-6           
                .form-group
                  label(for='depdate') ถึงวันที่
                  input.form-control(type='text',class='datepicker',name="dateend", value=dateend, autocomplete="off")  
            .row  
              .col-6
                .form-group
                  label(for='depdate') HN
                  input.form-control(type='text',name='hn')
              .col-6
                .form-group.form-check
                  input#Check1.form-check-input(type='checkbox' name='noinvno' value='true')
                  label.form-check-label(for='Check1') รายการไม่ได้ส่งเบิก
                .form-group.form-check
                  input#Chec21.form-check-input(type='checkbox' name='nostatement' value='true')
                  label.form-check-label(for='Check2') รายการยังไม่ถูกตัดลูกหนี้
            .form-group 
              button.btn.btn-primary(type='submit') ค้นหา                                    
            hr             
            input.form-control(type="hidden", name="statement", value=STMdoc)             
            table(id="debt", class='table table-striped table-sm')
              thead
                tr                      
                  th(scope='col') ลำดับ  
                  th(scope='col') HN
                  th(scope='col') ชื่อ-สกุล
                  th(scope='col') วันที่ 
                  th(scope='col') เวลา 
                  th(scope='col') ยอดเงิน
                  th(scope='col') เลขตอบกลับ
                  th(scope='col') statement
              tbody
                if debt                          
                  each item,index in debt
                    tr
                      th(scope='row') #{index+1}
                      td #{item.hn}                    
                      td.text-right #{item.name}                    
                      td #{item.date}
                      td #{item.time}
                      td.text-right #{item.sum}  
                      td #{item.rid}  
                      td #{item.statement}
            hr           
            if debt           
              button.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(id='excel') Excel 
  script(src='../lib/xlsx/dist/xlsx.core.min.js', lang="javascript" )    
  script(src='../lib/tableExport/dist/js/FileSaver.js', lang="javascript" )     
  script(src='../lib/tableExport/dist/js/tableexport.js', lang="javascript" )    
  script.
    $(document).ready(function() {
      $('.datepicker').datepicker({
        format: 'dd/mm/yyyy',
        autoclose: true, 
        todayHighlight: true,
        language: 'th' 
      });
      $('form').on('submit', function(e){
        $.blockUI({ message: '<div class="lds-ring"><div></div><div></div><div></div><div></div></div>' });
      });
      $.blockUI({ message: '<div class="lds-ring"><div></div><div></div><div></div><div></div></div>' });
      $('#debt').DataTable({      
        "pageLength": 20,
          "lengthChange": false,
          "language": {
            "info": "ลำดับ _START_ ถึง _END_ ทั้งหมด _TOTAL_ รายการ",
            "paginate": {
              "previous": "ก่อนหน้า",
              "next": "ถัดไป"
            },
            "search": 'ค้นหา'
          },
        "dom": 'Bfrtip',
        "buttons": [ {
            extend: 'excel',
            text: 'excel',
            title: '',
            filename: 'รายการลูกหนี้',
            className: 'btn-primary'
        } ],
        "initComplete": function(settings, json) {   
          setTimeout(function(){ 
            $.unblockUI();
             setTimeout(function(){ $("#alert").alert("close"); }, 5000)   
          }, 2000)                                     
        }  
      });
     
    });  
