extends ../layout

block content
  .d-sm-flex.align-items-center.justify-content-between.mb-4
    h1.h3.mb-0.text-gray-800 รายการ Statement
    //- a.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(href='#')
      i.fas.fa-download.fa-sm.text-white-50
      |  Generate Report 
  .row 
    .col-lg-6.mb-4
      .card.shadow.mb-4
        .card-header.py-3
          h6.m-0.font-weight-bold.text-danger  statement
        .card-body
          form(action='/debtor/listStatement', method='post',id='search')       
            .form-group  
              select.form-control.m-2(name='statement',id='statement')
                option(value='')   
                if statement
                  each item,index in statement
                    option(value=item.statement_no) #{item.statement_no}
            .form-group.text-center
              button.btn.btn-primary(type='submit') ค้นหา     
    //- .col-lg-12.mb-4
      .card.shadow.mb-4
        .card-header.py-3
          h6.m-0.font-weight-bold.text-danger ข้อมูลใบเสร็จ statement
        .card-body
          form(action='/debtor/listStatementSave', method='post',id='search')       
            .form-group  
              input#exampleInputEmail1.form-control(type='text', readonly)
            .form-group  
              label(for='exampleInputEmail1') ใบเสร็จเล่มที่
              input#exampleInputEmail1.form-control(type='number', aria-describedby='emailHelp', placeholder='กรุณากรอก ใบเสร็จเล่มที่')
              small#emailHelp.form-text.text-muted ตัวเลข 4หลัก.
            .form-group  
              label(for='exampleInputEmail1') ใบเสร็จเลขที่
              input#exampleInputEmail1.form-control(type='number', aria-describedby='emailHelp', placeholder='กรุณากรอก ใบเสร็จเลขที่')
              small#emailHelp.form-text.text-muted ตัวเลข 3หลัก.
            .form-group  
              label(for='exampleInputEmail1') วันที่ใบเสร็จ
              input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='กรุณาเลือก วันที่ใบเสร็จ')
              small#emailHelp.form-text.text-muted วันที่.
            .form-group
              button.btn.btn-primary(type='submit') บันทึก          
    .col-lg-12.mb-4
      .card.shadow.mb-4
        .card-header.py-3
          h6.m-0.font-weight-bold.text-danger  statement
        .card-body                     
          form(action="/debtor/save",id='save' method="post")  
            input.form-control(type="hidden", name="statementsave", value=statement)             
            table(id="tbstatement", class='table table-striped table-sm')
              thead
                tr  
                  th(scope='col') ลำดับ  
                  th(scope='col') Statement  
                  th(scope='col') HN
                  th(scope='col') Invno
                  th(scope='col') วันที่                    
                  th(scope='col') เวลา
                  th(scope='col') เลขตอบรับ
                  th(scope='col') ยอดเงิน
                  th(scope='col') สถานะตัดลูกหนี้                  
              tbody
                if stList                          
                  each item,index in stList
                    tr
                      td(scope='row') #{index+1}                                          
                      td #{item.statement_no}   
                      td #{item.hn}                 
                      td #{item.invno}
                      td #{item.date}                        
                      td #{item.time}
                      td #{item.rid}  
                      td.text-right #{item.amount}                    
                      td #{item.debt_id}  
  script.
    $(document).ready(function() {
      $.blockUI({ message: '<div class="lds-ring"><div></div><div></div><div></div><div></div></div>' });
        $('form').on('submit', function(e){
          $.blockUI({ message: '<div class="lds-ring"><div></div><div></div><div></div><div></div></div>' });
      });
        $('#statement').select2({placeholder: 'เลือก Statement',theme: "bootstrap", width: '100%'  });
        $('#tbstatement').DataTable({      
          "pageLength": 20,
            "lengthChange": false,
            "language": {
              "info": "ลำดับ _START_ ถึง _END_ ทั้งหมด _TOTAL_ รายการ",
              "paginate": {
                "previous": "ก่อนหน้า",
                "next": "ถัดไป"
              },
              "search": 'ค้นหา'
            },
            "dom": 'Bfrtip',
          "buttons": [ {
            extend: 'excel',
            text: 'excel',
            title: '',
            filename: 'รายการลูกหนี้',
            className: 'btn-primary'
          } ],
          "initComplete": function(settings, json) {   
            setTimeout(function(){ 
              $.unblockUI();
                setTimeout(function(){ $("#alert").alert("close"); }, 5000)   
            }, 2000)                                     
          }  
      });
    })                     