extends ../layout

block content
  .d-sm-flex.align-items-center.justify-content-between.mb-4
    h1.h3.mb-0.text-gray-800 รายการลูกหนี้
    //- a.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(href='#')
      i.fas.fa-download.fa-sm.text-white-50
      |  Generate Report 
  .row
    .col-lg-12.mb-4
      .card.shadow.mb-4
        .card-header.py-3
          h6.m-0.font-weight-bold.text-danger รายการ
        .card-body
          .text-center          
            .row  
              .col-12
                form.form-inline(action='/debtor/listDebtComplete', method='post',id='search')            
                  .form-group.mb-2
                    label(for='depdate') วันที่รับบริการ
                    input.form-control.mx-sm-3(type='text',class='datepicker',name="datestart", value=datestart, autocomplete="off" )
                    label(for='depdate') ถึง
                    input.form-control.mx-sm-3(type='text',class='datepicker',name="dateend", value=dateend, autocomplete="off")
                  .form-group.mb-2  
                    select.form-control.m-2(name='pttype',id='pttype')              
                      option(value='') 
                      option(value='92') เบิกจ่ายตรง 
                      option(value='77') เบิกจ่ายตรง กทม. 
                      option(value='55') เบิกจ่ายตรง กกต./สปสช. 
                      option(value='A6') เบิกจ่ายตรงเมืองพัทยา 
                  button.btn.btn-primary.mb-2(type='submit') ค้นหา                                    
            hr             
            input.form-control(type="hidden", name="statement", value=STMdoc)             
            table(id="debt", class='table table-striped table-sm')
              thead
                tr                      
                  th(scope='col') ลำดับ  
                  th(scope='col') HN
                  th(scope='col') ชื่อ-สกุล
                  th(scope='col') วันที่ 
                  th(scope='col') เวลา 
                  th(scope='col') ยอดเงิน
                  th(scope='col') สิทธิ
                  th(scope='col') เลขตอบกลับ
                  th(scope='col') statement
              tbody
                if debt                          
                  each item,index in debt
                    tr
                      th(scope='row') #{index+1}
                      td #{item.hn}                    
                      td.text-left #{item.name}                    
                      td #{item.date}
                      td #{item.time}
                      td.text-right #{item.sum}  
                      td #{item.pttype}  
                      td #{item.rid}  
                      td #{item.statement}       
  script(src='../lib/xlsx/dist/xlsx.core.min.js', lang="javascript" )    
  script(src='../lib/tableExport/dist/js/FileSaver.js', lang="javascript" )     
  script(src='../lib/tableExport/dist/js/tableexport.js', lang="javascript" )       
  script.
    $(document).ready(function() {
      $('.datepicker').datepicker({
        format: 'dd/mm/yyyy',
        autoclose: true, 
        todayHighlight: true,
        language: 'th'   
      });
      $('form').on('submit', function(e){
        $.blockUI({ message: '<div class="lds-ring"><div></div><div></div><div></div><div></div></div>' });
      });
      $.blockUI({ message: '<div class="lds-ring"><div></div><div></div><div></div><div></div></div>' });
      $('#debt').DataTable({      
        "pageLength": 20,
          "lengthChange": false,
          "language": {
            "info": "ลำดับ _START_ ถึง _END_ ทั้งหมด _TOTAL_ รายการ",
            "paginate": {
              "previous": "ก่อนหน้า",
              "next": "ถัดไป"
            },
            "search": 'ค้นหา'
          },
        "dom": 'Bfrtip',
        "buttons": [ {
            extend: 'excel',
            text: 'excel',
            title: '',
            filename: 'รายการลูกหนี้',
            className: 'btn-primary'
        } ],
        "initComplete": function(settings, json) {   
          setTimeout(function(){ 
            $.unblockUI();
             setTimeout(function(){ $("#alert").alert("close"); }, 5000)   
          }, 2000)                                     
        }  
      });
     
    });  
