extends ../layout

block content
  .d-sm-flex.align-items-center.justify-content-between.mb-4
    h1.h3.mb-0.text-gray-800 Upload Statement
    //- a.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(href='#')
      i.fas.fa-download.fa-sm.text-white-50
      |  Generate Report
  if message!=false
    .alert.alert-primary(role='alert', id ='alert')
      | #{message}  
  .row
    .col-lg-6.mb-4
      .card.shadow.mb-4
        .card-header.py-3
          h6.m-0.font-weight-bold.text-danger Upload 
            span.badge.badge-primary
        .card-body
          .text-center          
            .row  
              .col-12
                form.form-inline(action='/debtor/upload', method='post',id='search', enctype='multipart/form-data')            
                  .form-group.mb-2  
                    .custom-file
                      input#customFile.custom-file-input(type='file', name='reply' )   
                      label.custom-file-label.mx-sm-3(for='customFileLangHTML', data-browse='เลือก') Statement    
                  button.btn.btn-primary.mb-2(type='submit') Upload    
    .col-lg-6.mb-4
      .card.shadow.mb-4
        .card-header.py-3
          h6.m-0.font-weight-bold.text-danger .. 
            span.badge.badge-primary
        .card-body
          .text-center          
            .row  
              .col-12  
    .col-lg-6.mb-4 
      .card.shadow.mb-4
          .card-header.py-3
            h6.m-0.font-weight-bold.text-danger .. 
              span.badge.badge-primary
          .card-body                      