<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaccine Appointment</title>
    <link rel="stylesheet" href="/components/bootstrap/css/bootstrap.css">
</head>
<style>
    body {
        position: relative;
        z-index: 1;
        height: 100vh;
    }

    body:before {
        content: "";
        background-image: url(/images/bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: .2;
    }
</style>

<body class="d-flex  text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main class="px-3">
            <div class="mb-2 text-center" style="padding: 30px 0;">
                <img src="/images/logo.png" height="100" class="text-center mb-2" alt="">
          
                <h4 class="h4 mb-0 text-gray-800 text-center vaccine-head">ตรวจสอบนัดฉีดวัคซีน Covid 19</h4>
            </div>
            <h2 >❌ปิดการใช้งานชั่วคราว❌</h2>
            <p class="lead" style="margin-top: 1rem;">โดยสามารถติดตามข่าวสารความเคลื่อนไหวได้จากเพจของโรงพยาบาลสุโขทัย</p>
            <p class="lead" style="margin-top: 2rem;">
                <a href="https://www.facebook.com/%E0%B9%82%E0%B8%A3%E0%B8%87%E0%B8%9E%E0%B8%A2%E0%B8%B2%E0%B8%9A%E0%B8%B2%E0%B8%A5%E0%B8%AA%E0%B8%B8%E0%B9%82%E0%B8%82%E0%B8%97%E0%B8%B1%E0%B8%A2-2373494129551792"
                    class="btn btn-lg btn-primary"><img style="filter: invert(100%); height:1.2rem" src="/images/facebook.png"  class="text-center mb-2" alt=""> โรงพยาบาลสุโขทัย</a>
            </p>
        </main>

        <footer class="mt-auto">
            <p>Copyright © ศูนย์เทคโนโลยีสารสนเทศและการสื่อสาร<a href="https://popcat.click/">🐱</a></p>
        </footer>
    </div>

</body>

</html>