extends layout

block content
  .row
    .col-lg-6.mb-4
      .card.shadow.mb-4
        .card-header.py-3
          h6.m-0.font-weight-bold.text-danger Card Header
        .card-body
          .text-center
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquet tellus vitae augue lobortis sodales. Praesent neque enim, luctus vel metus ac, elementum commodo ligula. Aliquam auctor metus in fermentum tempus. Cras aliquet ex vitae suscipit rhoncus. Suspendisse ut risus sed elit imperdiet fringilla. Pellentesque pulvinar non ante ut ornare. Integer scelerisque neque finibus libero vestibulum, et aliquam nisi dignissim. Donec sed fermentum tellus, at aliquet est. Aenean venenatis ipsum sed erat rhoncus sodales. Suspendisse sed est arcu. Quisque ac malesuada mi. Phasellus luctus blandit quam a commodo. Vivamus tempor, tellus at venenatis posuere, eros enim convallis velit, sit amet vehicula purus enim id massa. In vestibulum justo mauris, eu mattis est ultricies pulvinar.
    .col-lg-6.mb-4
      .card.shadow.mb-4
        .card-header.py-3
          h6.m-0.font-weight-bold.text-danger Card Header
        .card-body
          .text-center
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquet tellus vitae augue lobortis sodales. Praesent neque enim, luctus vel metus ac, elementum commodo ligula. Aliquam auctor metus in fermentum tempus. Cras aliquet ex vitae suscipit rhoncus. Suspendisse ut risus sed elit imperdiet fringilla. Pellentesque pulvinar non ante ut ornare. Integer scelerisque neque finibus libero vestibulum, et aliquam nisi dignissim. Donec sed fermentum tellus, at aliquet est. Aenean venenatis ipsum sed erat rhoncus sodales. Suspendisse sed est arcu. Quisque ac malesuada mi. Phasellus luctus blandit quam a commodo. Vivamus tempor, tellus at venenatis posuere, eros enim convallis velit, sit amet vehicula purus enim id massa. In vestibulum justo mauris, eu mattis est ultricies pulvinar.
          //- form(action='/upload', method='post', enctype='multipart/form-data')
            .form-group   
              .custom-file
                input#customFile.custom-file-input(type='file', name='debtor')   
                label.custom-file-label(for='customFileLangHTML', data-browse='เลือก') ลูกหนี้ (Excel)    
              small#emailHelp.form-text.text-muted เลือกไฟล์ตอบกลับจาก....
            .form-group   
              .custom-file
                input#customFile.custom-file-input(type='file', name='reply' )   
                label.custom-file-label(for='customFileLangHTML', data-browse='เลือก') ตอบกลับ (Excel)    
              small#emailHelp.form-text.text-muted เลือกไฟล์ตอบกลับจาก....            
            button.btn.btn-danger(type='submit') เปรียบเทียบ