<!DOCTYPE html>
<html>

<head>
    <title>Vaccine Appointment</title>
    <meta property="og:url"
        content="http://web.skth.go.th:3005/" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Vaccine Appointment" />
    <meta property="og:description" content="ระบบตรวจสอบนัดฉีดวัคซีน โรงพยาบาลสุโขทัย" />
    <meta property="og:image"
        content="/images/bg.jpg" />


    <link rel="stylesheet" href="/components/bootstrap/css/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
    <script src="/lib/bootstrap-4.3.1/js/bootstrap.min.js"></script>
    <script src="/lib/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Custom fonts for this template-->
    <link href="/lib/sb-admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/lib/sb-admin/css/sb-admin-2.css" rel="stylesheet">
    <link href="/lib/bootstrap-datepicker-thai-thai/css/datepicker.css" rel="stylesheet">
    <link href="/lib/datatables/datatables.min.css" rel="stylesheet">
    <link href="/lib/datatables/Buttons-1.6.0/css/buttons.dataTables.min.css" rel="stylesheet">
    <link href="/lib/select2/dist/css/select2.css" rel="stylesheet">
    <link href="/lib/select2-bootstrap/dist/select2-bootstrap.css" rel="stylesheet">
    <link href="/lib/datatables-angular/angular-datatables.min.css" rel="stylesheet">
    <link href="components/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <link href="components/animate.css/animate.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/components/angular-material/angular-material.css">

    <style type="text/css">
        .lds-ring {
            display: inline-block;
            position: relative;
            width: 64px;
            height: 64px;
        }

        .lds-ring div {
            box-sizing: border-box;
            display: block;
            position: absolute;
            width: 51px;
            height: 51px;
            margin: 6px;
            border: 6px solid #dfc;
            border-radius: 50%;
            animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            border-color: #dfc transparent transparent transparent;
        }

        .lds-ring div:nth-child(1) {
            animation-delay: -0.45s;
        }

        .lds-ring div:nth-child(2) {
            animation-delay: -0.3s;
        }

        .lds-ring div:nth-child(3) {
            animation-delay: -0.15s;
        }

        @keyframes lds-ring {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        #wrapper {
            height: 100%;
            overflow-y: scroll;
        }
    </style>
</head>

<body ng-app="rootApp">
    <!-- Page Wrapper-->
    <div id="wrapper">

        <!-- Content Wrapper-->
        <div class="d-flex flex-column" id="content-wrapper">
            <!-- Main Content-->
            <div id="content">
                <!-- Begin Page Content-->
                <div class="container-fluid">
                    <!-- Page Heading              -->
                    <div ng-view> </div>
                    <!-- Content Row-->
                    <!-- Content Row-->
                </div>
                <!-- /.container-fluid-->
                <!-- End of Main Content-->
                <!-- Footer-->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto"><span>Copyright ©
                                ศูนย์เทคโนโลยีสารสนเทศและการสื่อสาร</span>
                            <p class="mt-2"> โรงพยาบาลสุโขทัย</p>
                            <p class="mt-2" id="displaysize"> </p>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer         -->
            </div>
        </div>
        <!-- End of Content Wrapper-->
        <!-- End of Page Wrapper-->
        <!-- Scroll to Top Button-->
        <!-- Logout Modal-->
        <!-- Bootstrap core JavaScript-->
        <script src="/lib/sb-admin/vendor/jquery/jquery.min.js"></script>
        <!-- <script src="/lib/sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
        <script src="/components/bootstrap/js/bootstrap.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="/lib/sb-admin/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="/lib/sb-admin/js/sb-admin-2.js"></script>
        <!-- Page level plugins-->
        <!-- Datepicker-->
        <script src="/lib/bootstrap-datepicker-thai-thai/js/bootstrap-datepicker.js"></script>
        <script src="/lib/bootstrap-datepicker-thai-thai/js/bootstrap-datepicker-thai.js"></script>
        <script src="/lib/bootstrap-datepicker-thai-thai/js/locales/bootstrap-datepicker.th.js"></script>
        <script src="/lib/datatables/datatables.min.js">
        </script>
        <script src="/lib/select2/dist/js/select2.full.js">
        </script>
        <script src="/components/sweetalert2/dist/sweetalert2.min.js"></script>
        <script src="/lib/moment/moment.js"></script>
        <script src="/lib/moment/moment-with-locales.js"></script>
        <script src="https://kit.fontawesome.com/7cead3487d.js"></script>
        <!--Angular library-->
        <script src="/lib/angular-1.8.2/angular.min.js"></script>
        <script src="/lib/angular-1.8.2/angular-animate.js"></script>
        <script src="/lib/angular-1.8.2/angular-route.min.js"></script>
        <script src="/lib/angular-1.8.2/angular-aria.min.js"></script>
        <script src="/lib/angular-1.8.2/angular-messages.min.js"></script>
        <script src="/lib/angular-1.8.2/angular-resource.min.js"></script>
        <script src="/lib/ngStorage/ngStorage.js"></script>

        <script src="/lib/datatables-angular/angular-datatables.min.js"></script>
        <script src="/components/chart.js/dist/Chart.min.js"></script>
        <script src="/components/chartjs-plugin-datalabels/chartjs-plugin-datalabels.js"></script>
        <script src="/components/FileSaver.js/dist/FileSaver.min.js"></script>
        <script src="/lib/clipboard.js/dist/clipboard.min.js"></script>
        <script src="/lib/confetti/confetti.js"></script>
        <script src="/lib/notify/bootstrap-notify.min.js"></script>
        <script src="/components/angular-material/angular-material.js"></script>


        <!-- recaptcha -->
        <script src="https://www.google.com/recaptcha/api.js?render=6LeaIpkbAAAAAG6hlvSZGlkpjJ_sXg4ETkX8eS8Q"></script>

        <!-- Custom script-->
        <script src="/javascripts/index.js"></script>
        <script src="/chart/bar.js"></script>
        <script src="/chart/barMutiAxis.js"></script>
        <script src="/chart/line.js"></script>
        <script src="/chart/pie.js"></script>


        <!--Angular script-->
        <script>
            const app = angular.module("rootApp", ["ngRoute", "datatables", "ngResource", "ngAnimate", 'ngMaterial', 'ngMessages', 'ngStorage'])

                .config(function ($mdDateLocaleProvider) {

                    $mdDateLocaleProvider.formatDate = function (date) {
                        return `${moment(date).format('DD/MM')}/${moment(date).get('year') + 543}`;
                    };
                    $mdDateLocaleProvider.parseDate = function (dateString) {
                        var dateArray = dateString.split("/");
                        dateString = dateArray[1] + "/" + dateArray[0] + "/" + (dateArray[2] - 543);
                        var m = moment(dateString, 'L', true);
                        return m.isValid() ? m.toDate() : new Date(NaN);
                    };
                    var shortMonths = ['ม.ค.', 'ก.พ.', 'มี.ค.', 'เม.ย.', 'พ.ค.', 'มิ.ย.', 'ก.ค.', 'ส.ค.', 'ก.ย.', 'ต.ค.', 'พ.ย.', 'ธ.ค.'];
                    $mdDateLocaleProvider.months = ['มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤศจิกายน', 'ธันวาคม'];
                    $mdDateLocaleProvider.shortMonths = shortMonths;
                    $mdDateLocaleProvider.days = ['อาทิตย์', 'จันทร์', 'อังคาร', 'พุธ', 'พฤหัสบดี', 'ศุกร์', 'เสาร์'];
                    $mdDateLocaleProvider.shortDays = ['อา', 'จ', 'อ', 'พ', 'พฤ', 'ศ', 'ส'];
                    $mdDateLocaleProvider.monthHeaderFormatter = function (date) {
                        return shortMonths[date.getMonth()] + ' ' + (date.getFullYear() + 543);
                    };

                    $mdDateLocaleProvider.lastRenderableDate = new Date(moment().subtract(20, 'year'));
                });

        </script>
        <!-- <script src="/controller/dashbord.js" type="module"></script> -->
        <!-- <script src="/controller/ipt.js" type="module"></script> -->
        <!-- <script src="/controller/opd.js" type="module"></script> -->
        <!-- <script src="/controller/er.js" type="module"></script> -->
        <!-- <script src="/controller/doctor.js" type="module"></script> -->
        <!-- <script src="/controller/finance.js" type="module"></script> -->
        <script src="/controller/vaccine.js" type="module"></script>
        <script src="/controller/register.js" type="module"></script>



        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-FGKK3VB9BY"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'G-FGKK3VB9BY');
        </script>

    </div>
</body>

</html>