<div>
  <div class="row">
    <div class="col-12 mb-4">
      <div class="card shadow mb-4">
        <div class="card-header card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6> ตัดลูกหนี้บัญชี</h6>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <table datatable="ng" dt-options="dtOptions" dt-instance="dtInstance"
                class="table table-striped table-sm">
                <thead>
                  <tr>
                    <th>Statement</th>
                    <th>ยอดเงิน (บาท)</th>
                    <th>จำนวน (Visit)</th>
                    <th>จำนวนตัดแล้ว (Visit)</th>
                    <th>วันที่นำเข้า</th>
                    <th>ประเภท</th>
                    <th>ตัดลูกหนี้</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in listStatement">
                    <td>{{item.statement_no}}</td>
                    <td class="text-right">{{item.statement_amount | currency:""}}</td>
                    <td>{{item.statement_count | number}}</td>
                    <td>{{item.debtcount  | number}}</td>
                    <td>{{item.create_date | date : "dd/MM/yyyy"}}</td>
                    <td>{{item.statement_type}}</td>
                    <td><button class="btn btn-primary" ng-click="compareDebt(item.statement_id)"
                        ng-disabled="item.disabled"><i class="fa fa-cut"></i></button>
                      <button class="btn btn-primary" ng-click="excelStatement(item.statement_id,item.statement_no,item.statement_type)"
                        ng-disabled="item.disabled"><i class="fa fa-download"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>