<div>
  <div class="row">
    <div class="col-12 mb-4">
      <div class="card shadow mb-4">
        <div class="card-header card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6>ลูกหนี้บัญชี</h6>
        </div>
        <div class="card-body">
          <form id="search">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="depdate">วันที่รับบริการ</label>
                  <input class="form-control datepicker" type="text" name="datestart" autocomplete="off"
                    ng-model="startdate"  />
                </div>
              </div>

              <div class="col-6">
                <div class="form-group">
                  <label for="depdate">วันที่รับบริการ</label>
                  <input class="form-control datepicker" type="text" name="datestart" autocomplete="off"
                    ng-model="enddate"  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="depdate">สิทธิ</label>
                  <select class="custom-select" ng-model="pttype">
                    <option selected value="">ทั้งหมด</option>
                    <option value="92">เบิกจ่ายตรง</option>
                    <option value="77">เบิกจ่ายตรง กทม.</option>
                    <option value="55">เบิกจ่ายตรง กกต./สปสช.</option>
                    <option value="A6">เบิกจ่ายตรงเมืองพัทยา</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" ng-disabled="!datestart &&  !enddate" ng-click="search()"> <i
                  class="fa fa-search"></i> ค้นหา</button>
            </div>
          </form>
          <hr>
          <div class="text-center">
            <div class="row">
              <div class="col-12">
                <table  datatable="ng" dt-options="dtOptions" class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th scope="col">รายการ</th>
                      <th scope="col">จำนวน</th>
                      <th scope="col">Excel</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in count">
                      <td>{{item.name}}</td>
                      <td>{{item.count}}</td>
                      <td><button class="btn btn-primary" ng-disabled="item.count==0" ng-click="export(item.type)"> <i
                        class="fa fa-download"></i></button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('.datepicker').datepicker({
      format: 'dd/mm/yyyy',
      autoclose: true,
      todayHighlight: true,
      language: 'th'
    });
  });
</script>