<div>
  <div class="row">
    <div class="col-12 mb-4">
      <div class="card shadow mb-4">
        <div class="card-header card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6> ค้นหาลูกหนี้ Hosxp</h6>
        </div>
        <div class="card-body">
          <form id="search">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="depdate">วันที่รับบริการ</label>
                  <input class="form-control datepicker" type="text" name="datestart" autocomplete="off"
                    ng-model="datestart" value="{{datestart}}" />
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="depdate">สิทธิ</label>
                  <select class="custom-select" ng-model="pttype">
                    <option selected value="">ทั้งหมด</option>
                    <option value="92">เบิกจ่ายตรง</option>
                    <option value="77">เบิกจ่ายตรง กทม.</option>
                    <option value="55">เบิกจ่ายตรง กกต./สปสช.</option>
                    <option value="A6">เบิกจ่ายตรงเมืองพัทยา</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" ng-disabled="!datestart "
                ng-click="search()"> <i class="fa fa-search"></i> ค้นหา</button>
            </div>
          </form>
          <hr>
          <div class="text-center">
            <div class="row">
              <div class="col-12">
                <table datatable="ng" dt-options="dtOptions" class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th scope="col">HN</th>
                      <th scope="col">VN</th>
                      <th scope="col">ชื่อ-สกุล</th>
                      <th scope="col">วันที่ </th>
                      <th scope="col">เวลา </th>
                      <th scope="col">ยอดเงิน</th>
                      <th scope="col">เลขที่ใบเสร็จ</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in listDebt">
                      <td>{{item.hn}}</td>
                      <td>{{item.vn}}</td>
                      <td class="text-right">{{item.pname}}{{item.fname}} {{item.lname}}</td>
                      <td>{{item.date}}</td>
                      <td>{{item.vsttime}}</td>
                      <td>{{item.sum}}</td>
                      <td>{{item.invno}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <button class="btn btn-primary" ng-disabled="!listDebt "
                ng-click="saveDebt()"> <i class="fa fa-save"></i> บันทึก</button>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
  $(document).ready(function () {
    $('.datepicker').datepicker({
      format: 'dd/mm/yyyy',
      autoclose: true,
      todayHighlight: true,
      language: 'th'
    });
  });
</script>