<div>
    <div class="d-sm-flex align-items-center justify-content-between mb-2">
        <h1 class="h3 mb-0 text-gray-800">รายงานการเงิน</h1>
    </div>
    <!-- <h3 class="mb-2">เวลา {{ timeToday }}</h3> -->
    <div class="row">
        <div class="col">
            <div class="card shadow mb-2">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">สรุปยอดการรับชำระเงินสดทุกสิทธิ์และรูดบัตรEDC รายเดือน</h6>
                </div>
                <canvas id="moneypermonth" height="400"></canvas>
            </div>
        </div>
    </div>
</div>