.comefromtop {
  animation: comefromtop 0.5s;
}

.pushdown {
  animation: pushdown 0.5s;
}

@keyframes comefromtop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
}

@keyframes pushdown {
  0% {
    /*opacity:0;*/
    -webkit-transform: translateY(-15%);
  }
  100% {
    /*opacity:1;*/
    -webkit-transform: translateY(0);
  }
}

.observ {
  height: auto;
}

.Header-time {
  color: #858796;
  /* font-size: 6em; */
  /* padding: 0.1em; */
  border: #858796 0.1em solid;
  border-radius: 0.1em;
}

/* Vaccine Page */

.vaccine-box {
  border: blueviolet 1px solid;
  padding: 2em;
}

/* Vaccine Page End*/

/* VaccinePerDay Page */
.vaccine-head {
  font-size: 3em;
}
.vaccine-item-title {
  font-size: 3rem;
}
.vaccine-item-value {
  font-size: 10rem;
}

.chart-dashboard {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 100%;
}


@media (max-width: 600px) {
  .vaccine-head {
    font-size: 1.5em;
  }
  .vaccine-item-title {
    font-size: 1.5rem;
  }
  .vaccine-item-value {
    font-size: 2rem;
  }

  .chart-dashboard {
    width: 80vw;
  }
}



/* VaccinePerDay Page End*/
