<div class="row text-center my-5 " style="color: #333;">
    <div class="col-12 mb-2 text-center "> <img src="/images/logo.png" height="100" class="mb-2 mx-auto" alt=""></div>
    <div class="col-12">
        <p class="h2">ข้อกำหนดและเงื่อนไขการลงทะเบียนจองคิวฉีดวัคซีนโควิด 19 โรงพยาบาลสุโขทัย</p>
    </div>
</div>
<div class="row text-left" style="color: #333;">
    <div class="col-12 col-md-10 mx-auto">
        <div class="card">
            <div class="card-body">
                <ol>
                    <li>
                        1. ผู้ลงทะเบียนยินยอมให้โรงพยาบาลสุโขทัย ดำเนินการจัดเก็บ รวมรวม
                        เก็บรักษาและใช้ข้อมูลส่วนบุคคลนี้ในการจัดทำข้อมูลเวชระเบียน
                        ประวัติการรักษาของโรงพยาบาลสุโขทัยเท่านั้น
                    </li>
                    <li>
                        2. ผู้มีสิทธิลงทะเบียนในระยะนี้ คือ
                        ประชาชนผู้มีภูมิลำเนาตามบัตรประจำตัวประชาชนหรือทะเบียนบ้านอยู่ในเขต อำเภอเมือง จังหวัดสุโขทัย
                        และจัดอยู่ในกลุ่มดังต่อไปนี้
                    </li>
                    <ol>
                        <li>
                            2.1 กลุ่มผู้สูงอายุที่มีอายุตั้งแต่ 60 ปีขึ้นไป
                        </li>
                        <li>
                            2.2 กลุ่มผู้ป่วยที่มีโรคประจำตัว 7 โรค คือ โรคทางเดินหายใจเรื้อรัง, โรคหัวใจและหลอดเลือด,
                            โรคไตวายเรื้อรัง, โรคหลอดเลือดสมอง, โรคอ้วน, โรคมะเร็ง และโรคเบาหวาน
                        </li>
                        <li>
                            2.3 กลุ่มหญิงตั้งครรภ์ อายุครรภ์ 12 สัปดาห์ขึ้นไป
                        </li>
                    </ol>
                    <li>
                        3. กลุ่มประชาชนทั่วไปที่มีภูมิลำเนาอยู่ในเขตอำเภอเมือง จังหวัดสุโขทัย ที่มีอายุตั้งแต่ 18-59 ปี
                        สามารถลงทะเบียนไว้ได้ก่อน เมื่อถึงคิวนัดฉีดวัคซีนฯ
                        ทางโรงพยาบาลสุโขทัยจะดำเนินการแจ้งวันและเวลาฉีดวัคซีนฯ ให้ท่านก่อนไม่น้อยกว่า 7 วันทำการ
                    </li>
                    <li>
                        4. ผู้ที่มิได้มีภูมิลำเนาอยู่ในเขตอำเภอเมือง จังหวัดสุโขทัย แต่ปฏิบัติงาน ประกอบอาชีพ
                        หรืออาศัยอยู่ในเขตอำเภอเมือง จังหวัดสุโขทัย หากประสงค์ลงทะเบียนฯ
                        ให้นำสำเนาบัตรประจำตัวประชาชนของท่าน โดยให้ผู้ใหญ่บ้าน ผู้นำชุมชน นายกเทศมนตรีฯ รับรองสำเนา
                        พร้อมแสดงให้เจ้าหน้าที่ตรวจสอบในวันมารับบริการ
                    </li>
                    <li>
                        5. ผู้ลงทะเบียนจะต้องกรอกข้อมูลรายละเอียดต่างๆ <b>ตามความจริง</b> ให้ครบถ้วน ถูกต้อง
                        หากในวันเข้ารับบริการตรวจสอบพบว่าข้อมูลไม่เป็นความจริง ไม่ถูกต้อง
                        และไม่ตรงเงื่อนไขในการให้บริการฉีดวัคซีนฯ
                        โรงพยาบาลสุโขทัยมีสิทธิบอกเลิกและยกเลิกคิวฉีดวัคซีนนั้น โดยไม่ต้องแจ้งให้ทราบล่วงหน้า
                    </li>
                    <li>
                        6. ผู้ลงทะเบียนจะต้องระบุและตรวจสอบความถูกต้องของเบอร์โทรศัพท์มือถือ ที่ใช้ในการลงทะเบียน
                        <em>
                            เนื่องจากโรงพยาบาลสุโขทัยจะแจ้งวันนัดฉีดวัคซีนฯ ผ่านระบบ SMS
                            ตามเบอร์โทรศัพท์ที่ท่านระบุไว้เท่านั้น
                        </em>
                    </li>

                </ol>
                <ol>
                    <li>
                        ข้าพเจ้าได้อ่านและทำความเข้าใจเกี่ยวกับข้อกำหนดและเงื่อนไขการลงทะเบียนจองคิวฉีดวัคซีนโควิด 19
                        โรงพยาบาลสุโขทัยเป็นที่เรียบร้อยแล้ว
                    </li>
                </ol>

                <form class="text-center my-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="RadioOptions" id="rcaccept" value="1"
                            ng-model="agree">
                        <label class="form-check-label" for="inlineRadio1">ยินยอม</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="RadioOptions" id="rdreject" value="2"
                            ng-model="agree">
                        <label class="form-check-label" for="inlineRadio2">ไม่ยินยอม</label>
                    </div>
                </form>
                <div class="row text-center">
                    <div class="col-12">
                        <div class="d-grid gap-2 col-12 col-md-4 mx-auto">
                            <button type="submit" class="btn btn-primary" ng-click="accept()" ng-if="agree==1">ยืนยัน</button>
                            <a href="#!/" class="btn btn-link">กลับหน้าหลัก</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-12">

    </div>
</div>
<style>
    li {
        list-style-type: none;
    }

    em {
        color: red;
    }
</style>