<div class="row-title">
    <div class="col-xs-12 col-sm-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
        <form name="myForm" class="row border p-5">
            <div class="col-12 mb-2 text-center "> <img src="/images/logo.png" height="100" class="mb-2 mx-auto" alt="">
            </div>
            <div class="col-12 mb-5">

                <h1 class="title-register">ลงทะเบียน</h1>
            </div>

            <div class="col-12 mb-5">
                <label>เลขบัตรประชาชน</label>
                <md-input-container class="md-block">
                    <input ng-model="user.cid" disabled>
                </md-input-container>
            </div>
            <div class="col-12 col-xl-4 mb-5">
                <label for="pname" class="form-label">คำนำหน้า</label>
                <md-input-container class="md-block">
                    <md-select ng-model="user.pname" aria-label="pname" name="pname" required="">
                        <md-option value="1">
                            นาย
                        </md-option>
                        <md-option value="2">
                            นาง
                        </md-option>
                        <md-option value="3">
                            น.ส.
                        </md-option>
                    </md-select>
                    <div ng-messages="myForm.pname.$error">
                        <div ng-message="required">กรุณากรอกข้อมูลให้ครบ</div>
                    </div>
                </md-input-container>
            </div>
            <div class="col-12 col-xl-4 mb-5">
                <label for="fname" class="form-label">ชื่อ</label>
                <md-input-container class="md-block">
                    <input ng-model="user.fname" name="fname" required="">
                    <div ng-messages="myForm.fname.$error">
                        <div ng-message="required">กรุณากรอกข้อมูลให้ครบ</div>
                    </div>
                </md-input-container>
            </div>

            <div class="col-12 col-xl-4 mb-5">
                <label for="lname" class="form-label">นามสกุล</label>
                <md-input-container class="md-block">
                    <input ng-model="user.lname" name="lname" required>
                    <div ng-messages="myForm.lname.$error">
                        <div ng-message="required">กรุณากรอกข้อมูลให้ครบ</div>
                    </div>
                </md-input-container>
            </div>
            <div class="col-12  col-xl-4 mb-5">
                <label for="birthday" class="form-label">วันเกิด</label>
                <md-input-container class="md-block">
                    <md-datepicker ng-model="user.birthday" md-placeholder="Enter date" md-open-on-focus
                        md-current-view="year" input-aria-describedby="datepicker-description"
                        input-aria-labelledby="datepicker-header " name="birthday" required>
                    </md-datepicker>
                    <div ng-messages="myForm.birthday.$error">
                        <div ng-message="required">กรุณากรอกข้อมูลให้ครบ</div>
                    </div>
                </md-input-container>
            </div>
            <div class="col-12  col-xl-4 mb-5">
                <label for="sex" class="form-label">เพศ</label>
                <md-input-container class="md-block">
                    <md-select ng-model="user.sex" aria-label="sex" name="sex" required>
                        <md-option selected><em></em></md-option>
                        <md-option value="1">
                            ชาย
                        </md-option>
                        <md-option value="2">
                            หญิง
                        </md-option>
                    </md-select>
                    <div ng-messages="myForm.sex.$error">
                        <div ng-message="required">กรุณากรอกข้อมูลให้ครบ</div>
                    </div>
                </md-input-container>
            </div>
            <div class="col-12  col-xl-4 mb-5">
                <label class="form-label">อาชีพ</label>
                <md-input-container class="md-block">
                    <md-select ng-model="user.occupation" name="occupation" required>
                        <md-option selected></md-option>
                        <md-option ng-repeat="value in occupationList" value="{{value.occupation}}">
                            {{value.name}}
                        </md-option>
                    </md-select>
                    <div ng-messages="myForm.occupation.$error">
                        <div ng-message="required">กรุณากรอกข้อมูลให้ครบ</div>
                    </div>
                </md-input-container>
            </div>
            <div class="col-12  col-xl-4 mb-5">
                <label for="bloodtype" class="form-label">หมู่โลหิต</label>
                <md-input-container class="md-block">
                    <md-select ng-model="user.bloodtype" aria-label="bloodtype" name="bloodtype" required>
                        <md-option selected><em></em></md-option>
                        <md-option value="1">
                            A
                        </md-option>
                        <md-option value="2">
                            B
                        </md-option>
                        <md-option value="3">
                            AB
                        </md-option>
                        <md-option value="4">
                            O
                        </md-option>
                        <md-option value="0">
                            ไม่ทราบ
                        </md-option>
                    </md-select>
                    <div ng-messages="myForm.bloodtype.$error">
                        <div ng-message="required">กรุณากรอกข้อมูลให้ครบ</div>
                    </div>
                </md-input-container>
            </div>
            <div class="col-12  col-xl-4 mb-5">
                <label for="status" class="form-label">สถานภาพ</label>
                <md-input-container class="md-block">
                    <md-select ng-model="user.status" name="status" required>
                        <md-option selected></md-option>
                        <md-option ng-repeat="value in statusList" value="{{value.code}}">
                            {{value.name}}
                        </md-option>
                    </md-select>
                    <div ng-messages="myForm.status.$error">
                        <div ng-message="required">กรุณากรอกข้อมูลให้ครบ</div>
                    </div>
                </md-input-container>
            </div>
            <div class="col-12  col-xl-4 mb-5">
                <label for="religion" class="form-label">ศาสนา</label>
                <md-input-container class="md-block">
                    <md-select ng-model="user.religion" name="religion" required>
                        <md-option selected></md-option>
                        <md-option ng-repeat="value in religionList" value="{{value.religion}}">
                            {{value.name}}
                        </md-option>
                    </md-select>
                    <div ng-messages="myForm.religion.$error">
                        <div ng-message="required">กรุณากรอกข้อมูลให้ครบ</div>
                    </div>
                </md-input-container>
            </div>
            <div class="col-12  col-xl-6 mb-5">
                <label for="no" class="form-label">บ้านเลขที่</label>
                <md-input-container class="md-block">
                    <input ng-model="user.no" name="no" required>
                    <div ng-messages="myForm.no.$error">
                        <div ng-message="required">กรุณากรอกข้อมูลให้ครบ</div>
                    </div>
                </md-input-container>
            </div>
            <div class="col-12  col-xl-6 mb-5">
                <label for="moo" class="form-label">หมู่</label>
                <md-input-container class="md-block">
                    <input ng-model="user.moo" name="moo" required>
                    <div ng-messages="myForm.moo.$error">
                        <div ng-message="required">กรุณากรอกข้อมูลให้ครบ</div>
                    </div>
                </md-input-container>
            </div>
            <div class="col-12 col-xl-3 mb-5">
                <label for="tmbpart" class="form-label">ตำบล</label>
                <md-input-container class="md-block">
                    <md-select ng-model="user.tmbpart" name="tmbpart" required>
                        <md-option></md-option>
                        <md-option ng-repeat="value in tmppartList" value="{{value.tmbpart}}">
                            {{value.name}}
                        </md-option>
                    </md-select>
                    <div ng-messages="myForm.tmbpart.$error">
                        <div ng-message="required">กรุณากรอกข้อมูลให้ครบ</div>
                    </div>
                </md-input-container>
            </div>
            <div class="col-12 col-xl-3 mb-5">
                <label for="amppart" class="form-label">อำเภอ</label>
                <md-select ng-model="user.amppart" disabled>
                    <md-option></md-option>
                    <md-option ng-repeat="value in amppartList" value="{{value.amppart}}">
                        {{value.name}}
                    </md-option>
                </md-select>
            </div>
            <div class="col-12 col-xl-3 mb-5">
                <label for="chwpart" class="form-label">จังหวัด</label>
                <md-select ng-model="user.chwpart" disabled>
                    <md-option></md-option>
                    <md-option ng-repeat="value in chwpartList" value="{{value.chwpart}}">
                        {{value.name}}
                    </md-option>
                </md-select>
            </div>

            <div class="col-12 col-xl-3 mb-5">
                <label for="code" class="form-label">รหัสไปรษณีย์</label>
                <md-input-container class="md-block">
                    <input ng-model="user.code" name="code" required maxlength="5" minlength="5" md-maxlength="5">
                    <div ng-messages="myForm.code.$error">
                        <div ng-message="required">กรุณากรอกข้อมูลให้ครบ</div>
                    </div>
                    <div ng-messages="myForm.code.$error">
                        <div ng-message="minlength">5 หลัก</div>
                    </div>
                </md-input-container>
            </div>
            <div class="col-12 mb-5">
                <label for="phone" class="form-label">เบอร์โทรศัพท์</label>
                <md-input-container class="md-block">
                    <input type="tel" md-maxlength="10" maxlength="10" minlength="10" ng-model="user.phone" name="phone"
                        ng-pattern="/^[0-9]*$/" required>
                    <div ng-messages="myForm.phone.$error">
                        <div ng-message="required">กรุณากรอกข้อมูลให้ครบ</div>
                    </div>
                    <div ng-messages="myForm.phone.$error">
                        <div ng-message="minlength">10 หลัก</div>
                    </div>
                    <div ng-messages="myForm.phone.$error">
                        <div ng-message-exp="['pattern']">ตัวเลขเท่านั้น ไม่ต้องใส่ -</div>
                    </div>
                </md-input-container>
            </div>

            <div class="col-12 text-center">
                <p class="text-center" ng-show="!myForm.$valid" style="color: chocolate;">กรุณากรอกข้อมูลให้ครบ</p>
                <span class="text-center" style="color: chocolate"  ng-repeat="errors in myForm.$error.required track by $index"> <small>{{ getLabel(errors)+',' }}</small> 
                </span>
            </div>
            <div class="col-12 d-grid">
                <md-button class="md-raised md-primary" ng-click="save()" ng-disabled="!myForm.$valid">ลงทะเบียน
                </md-button>
            </div>
        </form>
    </div>
</div>
<script>
    $('.datepicker').datepicker({
        format: 'mm/dd/yyyy'
    });
</script>
<style>
    .row-title {
        background-image: linear-gradient(0deg, #ffffff4d, rgba(255, 255, 255, 0.3)),
            url(images/bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    form {
        background-color: azure;
    }

    .title-register {
        padding: 10px 0;
        text-align: center;
        color: #333;
    }

    md-input-container {
        padding: 0 0;
        margin: 0 0;
    }
</style>