doctype html
html
  head
    title Dashboard
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/lib/bootstrap-4.3.1/css/bootstrap.css')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')    
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')    
    script(src='/lib/bootstrap-4.3.1/js/bootstrap.min.js')
    script(src='/lib/bs-custom-file-input/dist/bs-custom-file-input.js')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    // Custom fonts for this template
    link(href='/lib/sb-admin/vendor/fontawesome-free/css/all.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')
    // Custom styles for this template 
    link(href='/lib/sb-admin/css/sb-admin-2.css', rel='stylesheet')    
    link(href='/lib/bootstrap-datepicker-thai-thai/css/datepicker.css', rel='stylesheet')    
    link(href='/lib/datatables/datatables.min.css', rel='stylesheet')    
    link(href='/lib/datatables/Buttons-1.6.0/css/buttons.dataTables.min.css', rel='stylesheet')    
    link(href='/lib/select2/dist/css/select2.css', rel='stylesheet')    
    link(href='/lib/select2-bootstrap/dist/select2-bootstrap.css', rel='stylesheet')    
    link(href='/lib/datatables-angular/angular-datatables.min.css', rel='stylesheet')    
    link(href='components/sweetalert2/dist/sweetalert2.min.css', rel='stylesheet')    
    style(type='text/css').
      .lds-ring {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
      }
      .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 51px;
        height: 51px;
        margin: 6px;
        border: 6px solid #dfc;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #dfc transparent transparent transparent;
      }
      .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
      }
      .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
      }
      .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
      }
      @keyframes lds-ring {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
  body#page-top(ng-app="rootApp")
      // Page Wrapper
      #wrapper
        // Sidebar
        ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
          // Sidebar - Brand
          a.sidebar-brand.d-flex.align-items-center.justify-content-center(href='#')
            .sidebar-brand-icon
              i.fas.fa-hospital-alt
            .sidebar-brand-text.mx-3
              | IPD Dashboard 
          // Divider
          hr.sidebar-divider.my-0
          // Nav Item - Dashboard
          li.nav-item.active
            a.nav-link(href='#!/')
              i.fas.fa-fw.fa-tachometer-alt
              span Dashboard
          // Divider
          hr.sidebar-divider
          // Heading
          //- .sidebar-heading
          //-   | IPD
          // Nav Item - Pages Collapse Menu
          li.nav-item
            a.nav-link.collapsed( data-toggle='collapse', data-target='#collapseTwo', aria-expanded='true', aria-controls='collapseTwo')
              i.fas.fa-fw.fa-cog
              span IPD
            #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionSidebar')
              .bg-white.py-2.collapse-inner.rounded
                h6.collapse-header เมนู:
                  a.collapse-item(href='#!/ipt/allward') ข้อมูล Ward
                  a.collapse-item(href='#!/ipt/activebed') อัตราครองเตียง
          li.nav-item
            a.nav-link.collapsed( data-toggle='collapse', data-target='#collapseopd', aria-expanded='true', aria-controls='collapseopd')
              i.fas.fa-fw.fa-cog
              span OPD
            #collapseopd.collapse(aria-labelledby='headingTwo', data-parent='#accordionSidebar')
              .bg-white.py-2.collapse-inner.rounded
                h6.collapse-header เมนู:
                  a.collapse-item(href='#!/opd/hourvisit') ผู้ป่วย OPD รายชั่วโมง 
                  a.collapse-item(href='#!/opd/allvisit') Visit PUI
                  a.collapse-item(href='#!/opd/department') ห้องตรวจ
                  a.collapse-item(href='#!/opd/opdmed') อายุรกรรม
          li.nav-item
            a.nav-link.collapsed( data-toggle='collapse', data-target='#collapseer', aria-expanded='true', aria-controls='collapseer')
              i.fas.fa-fw.fa-cog
              span ER
            #collapseer.collapse(aria-labelledby='headingTwo', data-parent='#accordionSidebar')
              .bg-white.py-2.collapse-inner.rounded
                h6.collapse-header เมนู:
                  a.collapse-item(href='#!/er/hourvisit') ผู้ป่วย ER  
                  a.collapse-item(href='#!/er/erothourvisit') ผู้ป่วย ER นอกเวลา  
                  a.collapse-item(href='#!/er/hourvisittype') ประเภทผู้ป่วย ER  
                  a.collapse-item(href='#!/er/othourvisittype') ประเภทผู้ป่วย ER นอกเวลา  
                //- a.collapse-item(href='#!/ipt/activebed') Active Bed
                //- a.collapse-item(href='/debtor') ตัดลูกหนี้
                //- a.collapse-item(href='/debtor/listDebt') รายการ ลูกหนี้
                //- a.collapse-item(href='/debtor/listStatement') รายการ Statement
                //- a.collapse-item(href='/debtor/listDebtComplete') รายการ ตัดลูกหนี้
          //- li.nav-item
          //-   a.nav-link.collapsed(href='#', data-toggle='collapse', data-target='#collapsetest', aria-expanded='true', aria-controls='collapsetest')
          //-     i.fas.fa-fw.fa-cog
          //-     span เบิกจ่ายตรง
          //-   #collapsetest.collapse(aria-labelledby='headingTwo', data-parent='#accordionSidebar')
          //-     .bg-white.py-2.collapse-inner.rounded
          //-       h6.collapse-header เมนู:
          //-       a.collapse-item(href='#!sks/compare') ตัดลูกหนี้
          //-       a.collapse-item(href='#!sks/upload') รายการ Statement
          //-       a.collapse-item(href='#!sks/debt') รายการตั้งหนี้
          //-       a.collapse-item(href='#!sks/summary') รายการตัดลูกหนี้
          //- li.nav-item
          //-   a.nav-link.collapsed(href='', data-toggle='collapse', data-target='#debtAcount', aria-expanded='true', aria-controls='debtAcount')
          //-     i.fas.fa-fw.fa-cog
          //-     span ลูกหนี้บัญชี
          //-   #debtAcount.collapse(aria-labelledby='headingTwo', data-parent='#accordionSidebar')
          //-     .bg-white.py-2.collapse-inner.rounded
          //-       h6.collapse-header เมนู:
          //-       a.collapse-item(href='#!account/search') ตั้งลูกหนี้
          //-       a.collapse-item(href='#!account/compare') ตัดลูกหนี้
          //-       a.collapse-item(href='#!account/debt') ลูกหนี้
          //- li.nav-item
          //-   a.nav-link.collapsed(href='', data-toggle='collapse', data-target='#debtUC', aria-expanded='true', aria-controls='debtUC')
          //-     i.fas.fa-fw.fa-cog
          //-     span ลูกหนี้ UC
          //-   #debtUC.collapse(aria-labelledby='headingTwo', data-parent='#accordionSidebar')
          //-     .bg-white.py-2.collapse-inner.rounded
          //-       h6.collapse-header เมนู:
          //-       a.collapse-item(href='#!uc/upload') Upload
                //- a.collapse-item(href='#!account/compare') ตัดลูกหนี้
                //- a.collapse-item(href='#!account/debt') ลูกหนี้
          // Nav Item - Utilities Collapse Menu
          //- li.nav-item
            a.nav-link.collapsed(href='#', data-toggle='collapse', data-target='#collapseUtilities', aria-expanded='true', aria-controls='collapseUtilities')
              i.fas.fa-fw.fa-wrench
              span Utilities
            #collapseUtilities.collapse(aria-labelledby='headingUtilities', data-parent='#accordionSidebar')
              .bg-white.py-2.collapse-inner.rounded
                h6.collapse-header Custom Utilities:
                a.collapse-item(href='utilities-color.html') Colors
                a.collapse-item(href='utilities-border.html') Borders
                a.collapse-item(href='utilities-animation.html') Animations
                a.collapse-item(href='utilities-other.html') Other
          // Divider
          //- hr.sidebar-divider
          // Heading
          //- .sidebar-heading
          //-   | Setting
          // Nav Item - Pages Collapse Menu
          //- li.nav-item
            a.nav-link.collapsed(href='#', data-toggle='collapse', data-target='#collapsePages', aria-expanded='true', aria-controls='collapsePages')
              i.fas.fa-fw.fa-folder
              span Pages
            #collapsePages.collapse(aria-labelledby='headingPages', data-parent='#accordionSidebar')
              .bg-white.py-2.collapse-inner.rounded
                h6.collapse-header Login Screens:
                a.collapse-item(href='login.html') Login
                a.collapse-item(href='register.html') Register
                a.collapse-item(href='forgot-password.html') Forgot Password
                .collapse-divider
                h6.collapse-header Other Pages:
                a.collapse-item(href='404.html') 404 Page
                a.collapse-item(href='blank.html') Blank Page
          // Nav Item - Charts
          //- li.nav-item
            a.nav-link(href='charts.html')
              i.fas.fa-fw.fa-chart-area
              span Charts
          // Nav Item - Tables
          //- li.nav-item
            a.nav-link(href='tables.html')
              i.fas.fa-fw.fa-table
              span Tables
          // Divider
          hr.sidebar-divider.d-none.d-md-block
          // Sidebar Toggler (Sidebar)
          .text-center.d-none.d-md-inline
            button#sidebarToggle.rounded-circle.border-0
        // End of Sidebar
        // Content Wrapper
        #content-wrapper.d-flex.flex-column
          // Main Content
          #content
            // Topbar
            nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow
              // Sidebar Toggle (Topbar)
              button#sidebarToggleTop.btn.btn-link.rounded-circle.mr-3
                i.fas.fa-bars 
              // Topbar Search
              //- form.d-none.d-sm-inline-block.form-inline.mr-auto.ml-md-3.my-2.my-md-0.mw-100.navbar-search
              //-   .input-group
              //-     input.form-control.bg-light.border-0.small(type='text', placeholder='Search for...', aria-label='Search', aria-describedby='basic-addon2')
              //-     .input-group-append
              //-       button.btn.btn-primary(type='button')
              //-         i.fas.fa-search.fa-sm
              // Topbar Navbar
              //- ul.navbar-nav.ml-auto
                // Nav Item - Search Dropdown (Visible Only XS)
                //- li.nav-item.dropdown.no-arrow.d-sm-none
                //-   a#searchDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                //-     i.fas.fa-search.fa-fw
                  // Dropdown - Messages
                  //- .dropdown-menu.dropdown-menu-right.p-3.shadow.animated--grow-in(aria-labelledby='searchDropdown')
                  //-   form.form-inline.mr-auto.w-100.navbar-search
                  //-     .input-group
                  //-       input.form-control.bg-light.border-0.small(type='text', placeholder='Search for...', aria-label='Search', aria-describedby='basic-addon2')
                  //-       .input-group-append
                  //-         button.btn.btn-primary(type='button')
                  //-           i.fas.fa-search.fa-sm
                // Nav Item - Alerts
                //- li.nav-item.dropdown.no-arrow.mx-1
                //-   a#alertsDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                //-     i.fas.fa-bell.fa-fw
                    // Counter - Alerts
                    //- span.badge.badge-danger.badge-counter 3+
                  // Dropdown - Alerts
                  //- .dropdown-list.dropdown-menu.dropdown-menu-right.shadow.animated--grow-in(aria-labelledby='alertsDropdown')
                  //-   h6.dropdown-header
                  //-     | Alerts Center
                  //-   a.dropdown-item.d-flex.align-items-center(href='#')
                  //-     .mr-3
                  //-       .icon-circle.bg-primary
                  //-         i.fas.fa-file-alt.text-white
                  //-     div
                  //-       .small.text-gray-500 December 12, 2019
                  //-       span.font-weight-bold A new monthly report is ready to download!
                  //-   a.dropdown-item.d-flex.align-items-center(href='#')
                  //-     .mr-3
                  //-       .icon-circle.bg-success
                  //-         i.fas.fa-donate.text-white
                  //-     div
                  //-       .small.text-gray-500 December 7, 2019
                  //-       |                     $290.29 has been deposited into your account!
                  //-   a.dropdown-item.d-flex.align-items-center(href='#')
                  //-     .mr-3
                  //-       .icon-circle.bg-warning
                  //-         i.fas.fa-exclamation-triangle.text-white
                  //-     div
                  //-       .small.text-gray-500 December 2, 2019
                  //-       |                     Spending Alert: We've noticed unusually high spending for your account.
                  //-   a.dropdown-item.text-center.small.text-gray-500(href='#') Show All Alerts
                // Nav Item - Messages
                //- li.nav-item.dropdown.no-arrow.mx-1
                //-   a#messagesDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                //-     i.fas.fa-envelope.fa-fw
                    // Counter - Messages
                    //- span.badge.badge-danger.badge-counter 7
                  // Dropdown - Messages
                //-   .dropdown-list.dropdown-menu.dropdown-menu-right.shadow.animated--grow-in(aria-labelledby='messagesDropdown')
                //-     h6.dropdown-header
                //-       | Message Center
                //-     a.dropdown-item.d-flex.align-items-center(href='#')
                //-       .dropdown-list-image.mr-3
                //-         img.rounded-circle(src='https://source.unsplash.com/fn_BT9fwg_E/60x60', alt='')
                //-         .status-indicator.bg-success
                //-       .font-weight-bold
                //-         .text-truncate Hi there! I am wondering if you can help me with a problem I've been having.
                //-         .small.text-gray-500 Emily Fowler · 58m
                //-     a.dropdown-item.d-flex.align-items-center(href='#')
                //-       .dropdown-list-image.mr-3
                //-         img.rounded-circle(src='https://source.unsplash.com/AU4VPcFN4LE/60x60', alt='')
                //-         .status-indicator
                //-       div
                //-         .text-truncate
                //-           | I have the photos that you ordered last month, how would you like them sent to you?
                //-         .small.text-gray-500 Jae Chun · 1d
                //-     a.dropdown-item.d-flex.align-items-center(href='#')
                //-       .dropdown-list-image.mr-3
                //-         img.rounded-circle(src='https://source.unsplash.com/CS2uCrpNzJY/60x60', alt='')
                //-         .status-indicator.bg-warning
                //-       div
                //-         .text-truncate
                //-           | Last month's report looks great, I am very happy with the progress so far, keep up the good work!
                //-         .small.text-gray-500 Morgan Alvarez · 2d
                //-     a.dropdown-item.d-flex.align-items-center(href='#')
                //-       .dropdown-list-image.mr-3
                //-         img.rounded-circle(src='https://source.unsplash.com/Mv9hjnEUHR4/60x60', alt='')
                //-         .status-indicator.bg-success
                //-       div
                //-         .text-truncate
                //-           | Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...
                //-         .small.text-gray-500 Chicken the Dog · 2w
                //-     a.dropdown-item.text-center.small.text-gray-500(href='#') Read More Messages
                //- .topbar-divider.d-none.d-sm-block
                // Nav Item - User Information
                //- li.nav-item.dropdown.no-arrow
                //-   a#userDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                //-     span.mr-2.d-none.d-lg-inline.text-gray-600.small User1
                //-     img.img-profile.rounded-circle(src='/images/images.jpg')
                  // Dropdown - User Information
                  //- .dropdown-menu.dropdown-menu-right.shadow.animated--grow-in(aria-labelledby='userDropdown')
                  //-   a.dropdown-item(href='#')
                  //-     i.fas.fa-user.fa-sm.fa-fw.mr-2.text-gray-400
                  //-     |                   Profile
                  //-   a.dropdown-item(href='#')
                  //-     i.fas.fa-cogs.fa-sm.fa-fw.mr-2.text-gray-400
                  //-     |                   Settings
                  //-   a.dropdown-item(href='#')
                  //-     i.fas.fa-list.fa-sm.fa-fw.mr-2.text-gray-400
                  //-     |                   Activity Log
                  //-   .dropdown-divider
                  //-   a.dropdown-item(href='#', data-toggle='modal', data-target='#logoutModal')
                  //-     i.fas.fa-sign-out-alt.fa-sm.fa-fw.mr-2.text-gray-400
                  //-     |                   Logout
            // End of Topbar
            // Begin Page Content
            .container-fluid
              // Page Heading              
              block content    
              div(ng-view)      
              // Content Row
              //- .row
                // Area Chart
                .col-xl-8.col-lg-7
                  .card.shadow.mb-4
                    // Card Header - Dropdown
                    .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                      h6.m-0.font-weight-bold.text-primary Earnings Overview
                      .dropdown.no-arrow
                        a#dropdownMenuLink.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                          i.fas.fa-ellipsis-v.fa-sm.fa-fw.text-gray-400
                        .dropdown-menu.dropdown-menu-right.shadow.animated--fade-in(aria-labelledby='dropdownMenuLink')
                          .dropdown-header Dropdown Header:
                          a.dropdown-item(href='#') Action
                          a.dropdown-item(href='#') Another action
                          .dropdown-divider
                          a.dropdown-item(href='#') Something else here
                    // Card Body
                    .card-body
                      .chart-area
                        canvas#myAreaChart
                // Pie Chart
                .col-xl-4.col-lg-5
                  .card.shadow.mb-4
                    // Card Header - Dropdown
                    .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                      h6.m-0.font-weight-bold.text-primary Revenue Sources
                      .dropdown.no-arrow
                        a#dropdownMenuLink.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                          i.fas.fa-ellipsis-v.fa-sm.fa-fw.text-gray-400
                        .dropdown-menu.dropdown-menu-right.shadow.animated--fade-in(aria-labelledby='dropdownMenuLink')
                          .dropdown-header Dropdown Header:
                          a.dropdown-item(href='#') Action
                          a.dropdown-item(href='#') Another action
                          .dropdown-divider
                          a.dropdown-item(href='#') Something else here
                    // Card Body
                    .card-body
                      .chart-pie.pt-4.pb-2
                        canvas#myPieChart
                      .mt-4.text-center.small
                        span.mr-2
                          i.fas.fa-circle.text-primary
                          |  Direct
                        span.mr-2
                          i.fas.fa-circle.text-success
                          |  Social
                        span.mr-2
                          i.fas.fa-circle.text-info
                          |  Referral
              // Content Row
              //- .row
                // Content Column
                .col-lg-6.mb-4
                  // Project Card Example
                  .card.shadow.mb-4
                    .card-header.py-3
                      h6.m-0.font-weight-bold.text-primary Projects
                    .card-body
                      h4.small.font-weight-bold
                        | Server Migration 
                        span.float-right 20%
                      .progress.mb-4
                        .progress-bar.bg-danger(role='progressbar', style='width: 20%', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100')
                      h4.small.font-weight-bold
                        | Sales Tracking 
                        span.float-right 40%
                      .progress.mb-4
                        .progress-bar.bg-warning(role='progressbar', style='width: 40%', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100')
                      h4.small.font-weight-bold
                        | Customer Database 
                        span.float-right 60%
                      .progress.mb-4
                        .progress-bar(role='progressbar', style='width: 60%', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100')
                      h4.small.font-weight-bold
                        | Payout Details 
                        span.float-right 80%
                      .progress.mb-4
                        .progress-bar.bg-info(role='progressbar', style='width: 80%', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100')
                      h4.small.font-weight-bold
                        | Account Setup 
                        span.float-right Complete!
                      .progress
                        .progress-bar.bg-success(role='progressbar', style='width: 100%', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100')
                  // Color System
                  .row
                    .col-lg-6.mb-4
                      .card.bg-primary.text-white.shadow
                        .card-body
                          | Primary
                          .text-white-50.small #4e73df
                    .col-lg-6.mb-4
                      .card.bg-success.text-white.shadow
                        .card-body
                          | Success
                          .text-white-50.small #1cc88a
                    .col-lg-6.mb-4
                      .card.bg-info.text-white.shadow
                        .card-body
                          | Info
                          .text-white-50.small #36b9cc
                    .col-lg-6.mb-4
                      .card.bg-warning.text-white.shadow
                        .card-body
                          | Warning
                          .text-white-50.small #f6c23e
                    .col-lg-6.mb-4
                      .card.bg-danger.text-white.shadow
                        .card-body
                          | Danger
                          .text-white-50.small #e74a3b
                    .col-lg-6.mb-4
                      .card.bg-secondary.text-white.shadow
                        .card-body
                          | Secondary
                          .text-white-50.small #858796
                .col-lg-6.mb-4
                  // Illustrations
                  .card.shadow.mb-4
                    .card-header.py-3
                      h6.m-0.font-weight-bold.text-primary Illustrations
                    .card-body
                      .text-center
                        img.img-fluid.px-3.px-sm-4.mt-3.mb-4(style='width: 25rem;', src='img/undraw_posting_photo.svg', alt='')
                      p
                        | Add some quality, svg illustrations to your project courtesy of 
                        a(target='_blank', rel='nofollow', href='https://undraw.co/') unDraw
                        | , a constantly updated collection of beautiful svg images that you can use completely free and without attribution!
                      a(target='_blank', rel='nofollow', href='https://undraw.co/') Browse Illustrations on unDraw →
                  // Approach
                  .card.shadow.mb-4
                    .card-header.py-3
                      h6.m-0.font-weight-bold.text-primary Development Approach
                    .card-body
                      p
                        | SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce CSS bloat and poor page performance. Custom CSS classes are used to create custom components and custom utility classes.
                      p.mb-0
                        | Before working with this theme, you should become familiar with the Bootstrap framework, especially the utility classes.
            // /.container-fluid
            // End of Main Content
            // Footer
            footer.sticky-footer.bg-white
              .container.my-auto
                .copyright.text-center.my-auto
                  span Copyright © Sukhothai Hospital 2020
                  p(id='displaysize',class="mt-2") 
            // End of Footer         
        // End of Content Wrapper
        // End of Page Wrapper
        // Scroll to Top Button
        a.scroll-to-top.rounded(href='#wrapper')
          i.fas.fa-angle-up
        // Logout Modal
        #logoutModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                h5#exampleModalLabel.modal-title Ready to Leave?
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
              .modal-body Select "Logout" below if you are ready to end your current session.
              .modal-footer
                button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                a.btn.btn-primary(href='login.html') Logout

        // Bootstrap core JavaScript
        script(src='/lib/sb-admin/vendor/jquery/jquery.min.js')
        script(src='/lib/sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js')
        // Core plugin JavaScript
        script(src='/lib/sb-admin/vendor/jquery-easing/jquery.easing.min.js')
        // Custom scripts for all pages
        script(src='/lib/sb-admin/js/sb-admin-2.js')
        // Page level plugins
        //- script(src='/lib/sb-admin/vendor/chart.js/Chart.min.js')


        // Datepicker
        script(src='/lib/bootstrap-datepicker-thai-thai/js/bootstrap-datepicker.js')
        script(src='/lib/bootstrap-datepicker-thai-thai/js/bootstrap-datepicker-thai.js')
        script(src='/lib/bootstrap-datepicker-thai-thai/js/locales/bootstrap-datepicker.th.js')

        script(src='/lib/datatables/datatables.min.js') 
        //- script(src='/lib/datatables/Buttons-1.6.0/js/dataTables.buttons.min.js')  
        script(src='/lib/select2/dist/js/select2.full.js')  
        script(src='/components/sweetalert2/dist/sweetalert2.min.js')
        script(src='/lib/moment/moment.js')
        script(src='/lib/moment/moment-with-locales.js')
        script(src='https://kit.fontawesome.com/7cead3487d.js')
        
      
        //Angular library
        script(src='/lib/angular-1.7.8/angular.min.js')
        script(src='/lib/angular-1.7.8/angular-route.min.js')
        script(src='/lib/angular-1.7.8/angular-resource.min.js')
        script(src='/lib/datatables-angular/angular-datatables.min.js')
        script(src='/components/chart.js/dist/Chart.min.js')
        script(src='/components/chartjs-plugin-datalabels/chartjs-plugin-datalabels.js')
        script(src='/components/FileSaver.js/dist/FileSaver.min.js')

        // Custom script
        script(src='/javascripts/index.js')
        script(src='/chart/bar.js')
        script(src='/chart/line.js')
        script(src='/chart/pie.js')
        
        //Angular script
        script.
          const app = angular.module("rootApp", ["ngRoute","datatables","ngResource"]);
        script(src='/controller/dashbord.js' ,type="module",)
        script(src='/controller/ipt.js' ,type="module",)
        script(src='/controller/opd.js',type="module")
        script(src='/controller/er.js',type="module")
        script(src='/controller/doctor.js',type="module")
          