<div>
    <div class="d-sm-flex align-items-center justify-content-between mb-2">
        <h1 class="h3 mb-0 text-gray-800">รายงานผู้ป่วยในประจำวันที่ {{dateToday}}</h1>
    </div>
    <h3 class="mb-2">เวลา {{timeToday}}</h3>
    <div class="row">
        <div class="col">
            <div class="card shadow mb-2">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">กราฟ Active bed</h6>
                </div>
                <div class="card-body">
                    <!-- <canvas class="chart chart-bar" chart-options="options" chart-data="data" chart-labels="labels"
                        chart-series="series" height="120px"></canvas> -->
                    <div class="chart-container" style="position: relative;margin: auto; height: 80vh;width: 80vw;">
                        <canvas id="allward"></canvas>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card shadow mb-2">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">ผู้ป่วยแยกตาม Ward</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table datatable="ng" dt-options="dtOptions" class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <td scope="col">Ward</td>
                                    <td scope="col" style="text-align: center;">จำนวนเตียง</td>
                                    <td scope="col" style="text-align: center;">จำนวนผู้ป่วย</td>
                                    <td scope="col" style="text-align: center;">Active bed</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ipt">
                                    <td>{{item.ward}}</td>
                                    <td style="text-align: center;">{{item.bed}} </td>
                                    <td style="text-align: center;">{{item.an}}</td>
                                    <td style="text-align: center;">{{item.percent}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card shadow mb-2">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">ประเภทผู้ป่วยแยกตาม Ward</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table datatable="ng" dt-options="dtOptionsType" class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <td scope="col">Ward</td>
                                    <td scope="col" style="text-align: center;">ประเภท 5</td>
                                    <td scope="col" style="text-align: center;">ประเภท 4</td>
                                    <td scope="col" style="text-align: center;">ประเภท 3</td>
                                    <td scope="col" style="text-align: center;">ประเภท 2</td>
                                    <td scope="col" style="text-align: center;">ประเภท 1</td>
                                    <td scope="col" style="text-align: center;">รอบันทึกประเภท</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ipttype">
                                    <td>{{item.ward}}</td>
                                    <td style="text-align: center;">{{item.type5}} </td>
                                    <td style="text-align: center;">{{item.type4}} </td>
                                    <td style="text-align: center;">{{item.type3}} </td>
                                    <td style="text-align: center;">{{item.type2}} </td>
                                    <td style="text-align: center;">{{item.type1}} </td>
                                    <td style="text-align: center;">{{item.untype}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>