<div class="d-sm-flex align-items-center justify-content-between mb-2">
    <h1 class="h3 mb-0 text-gray-800">รายงานผู้ป่วยในประจำวันที่ {{dateToday}}</h1>
</div>
<h3 class="mb-2">เวลา {{timeToday}}</h3>
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-6 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">จำนวนผู้ป่วยทั้งหมด</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{sumAll}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-hospital-user fa-2x  text-primary"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-6 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">เตียงทั้งหมด</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">320</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-bed fa-2x  text-success"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <!-- <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">อัตราครองเตียง</div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                </div>
                <div class="col">
                  <div class="progress progress-sm mr-2">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Pending Requests Card Example -->
    <!-- <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">เตียงว่าง</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div> -->
</div>
<div class="row">


    <div class="col-12 col-md-6">
        <div class="card shadow mb-2">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">จำนวนผู้ป่วยแยกตามประเภท</h6>
            </div>
            <div class="card-body">
                <div class="chart-container" style="position: relative;margin: auto; height: 80vh;width: 100%;">
                    <canvas id="wardType"></canvas>
                </div>

            </div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="card shadow mb-2">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">จำนวนWard Active bed</h6>
            </div>
            <div class="card-body">
                <div class="chart-container" style="position: relative;margin: auto; height: 80vh;width: 100%;">
                    <canvas id="bedrate"></canvas>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col">
        <div class="card shadow mb-2">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">กราฟ Active bed แยกหอผู้ป่วย</h6>
            </div>
            <div class="card-body">
                <div class="chart-container" style="position: relative;margin: auto; height: 80vh;width: 80vw;">
                    <canvas id="allward"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card shadow mb-2">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">กราฟอัตราครองเตียง</h6>
            </div>
            <div class="chart-container" style="position: relative;margin: auto; height: 80vh;width: 80vw;">
                <canvas id="activebed"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card shadow mb-2">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">จำนวนผู้ป่วยรายWard</h6>
            </div>
            <div class="chart-container" style="position: relative;margin: auto; height: 80vh;width: 80vw;">
                <canvas id="anallward" height="400"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-6">
        <div class="card shadow mb-2">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">ผู้ป่วยแยกตามประเภท</h6>
            </div>
            <div class="card-body">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th scope="col">ประเภท</th>
                            <th scope="col" style="text-align: center;">จำนวนผู้ป่วย</th>
                            <th scope="col" style="text-align: center;">ร้อยละ</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="item in ipttypeTb">
                            <td> <i ng-style="{{item.color}}" class="fas fa-bed"></i> <b>{{item.type_name}}</b></td>
                            <td style="text-align: center;"><b>{{item.an}}</b></td>
                            <td style="text-align: center;"><b>{{item.percent}}</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
    <!-- <div class="col-12 col-md-6">
        <div class="card shadow mb-2">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Active bed</h6>
            </div>
            <div class="card-body">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th scope="col">ประเภท</th>
                            <th scope="col" style="text-align: center;">จำนวน Ward</th>
                            <th scope="col" style="text-align: center;">ร้อยละ</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="item in rate">
                            <td><b>Active bed {{item.rate}} %</b> </td>
                            <td style="text-align: center;"><b>{{item.wardRate}}</b></td>
                            <td style="text-align: center;"><b>{{item.wardPercent}}</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div> -->


</div>