<div class="row">
    <div class="col">
        <div class="card shadow mb-2">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">ผู้ป่วย ER นอกเวลา ทั้งหมด {{visit}} Visit</h6>
                <!-- <h6 class="m-0 font-weight-bold text-primary">วันที่ {{dateToday}} {{timeToday}}</h6> -->
                <!-- <select id="dateSelect" ng-model="itemSelect" ng-change="selectDate(itemSelect)">
                    <option ng-repeat="item in dateOption" ng-selected="selected" value="{{item.value}}">{{item.name}}
                    </option>
                </select> -->
                <input class="input-medium" id="datepicker" value="{{dateToday}}" ng-model="dateToday"
                    ng-change="selectDate(dateToday)" type="text" data-date-language="th-th">
            </div>
            <div >
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item d-flex flex-row" style="border: none;">
                        <div class="custom_legend" style=" background: #F7D24B;"></div>
                        <div>Visit</div>
                    </li>
                    <li class="list-group-item d-flex flex-row" style="border: none;">
                        <div class="custom_legend" style=" background: #2B40FC;"></div>
                        <div>Doctor</div>
                    </li>
                    <li class="list-group-item d-flex flex-row" style="border: none;">
                        <div class="custom_legend" style=" background: #FF191F;"></div>
                        <div>Admit</div>
                    </li>
                    <li class="list-group-item d-flex flex-row" style="border: none;">
                        <div class="custom_legend" style=" background: #839192;"></div>
                        <div>การเงิน</div>
                    </li>
                    <li class="list-group-item d-flex flex-row" style="border: none;">
                        <div class="custom_legend" style=" background: #44420E;"></div>
                        <div>Dispense</div>
                    </li>
                </ul>
            </div>
            <canvas id="hourvisit" height="400"></canvas>
        </div>
    </div>
</div>

<script>
    $('#datepicker').datepicker({
        todayHighlight: true,
        autoclose: true,
        format: 'dd MM yyyy',
        endDate: '+1d',
    });   
</script>

<style>
    .custom_legend {
        width: 40px;
        height: 20px;
        margin-right: 5px;
    }
</style>