<div class="row">
    <div class="col">
        <div class="card shadow mb-2">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">ค่าเฉลี่ยคนไข้ ห้องฉุกเฉิน แยกตามช่วงเวลา</h6>
                <!-- <h6 class="m-0 font-weight-bold text-primary">วันที่ {{dateToday}} {{timeToday}}</h6> -->
                <!-- <select id="dateSelect" ng-model="itemSelect" ng-change="selectDate(itemSelect)">
                    <option ng-repeat="item in dateOption" ng-selected="selected" value="{{item.value}}">{{item.name}}
                    </option>
                </select> -->
                <div>
                    <span>วันที่</span> <input class="input-medium" id="startDate"  ng-model="startDate"
                        ng-change="selectStartDate(startDate)" type="text" data-date-language="th-th"> <span>ถึง</span>
                    <input class="input-medium" id="endDate"  ng-model="endDate" ng-disabled="!startDate"
                        ng-change="selectEndDate(endDate)" type="text" data-date-language="th-th">
                </div>
            </div>
            <!-- <div>
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item d-flex flex-row" style="border: none;">
                        <div class="custom_legend" style=" background: #FF191F;"></div>
                        <div>จำนวนแพทย์ออกตรวจ</div>
                    </li>
                </ul>
            </div> -->
            <canvas id="ervisit" height="400"></canvas>
        </div>
    </div>
</div>

<script>
    $('#startDate,#endDate').datepicker({
        todayHighlight: true,
        autoclose: true,
        format: 'dd MM yyyy',
    });

</script>

<style>
    .custom_legend {
        width: 40px;
        height: 20px;
        margin-right: 5px;
    }
</style>