<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">สรุปการฉีดวัคซีน</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xl font-weight-bold text-primary text-uppercase mb-1">
                                เข็ม 1</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{summary.plan1}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xl font-weight-bold text-success text-uppercase mb-1">
                                เข็ม 2</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{summary.plan2}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xl font-weight-bold text-info text-uppercase mb-1">ผู้ชาย
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{summary.man}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xl font-weight-bold text-warning text-uppercase mb-1">
                                ผุ้หญิง</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{summary.woman}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">ยอดฉีดต่อวัน</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="vaccineperday"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">บริษัท</h6>

                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xl font-weight-bold text-primary text-uppercase mb-1" style="font-size: 1.5em;">
                                        Sinovac</div>
                                </div>
                                <div class="col mr-2 text-center">
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">#1 - {{brand.sinovac1}}</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">#2 - {{brand.sinovac2}}</div>
                                </div>
                                <div class="col text-center">
                                    <div class="font-weight-bold text-primary text-uppercase mb-1" style="font-size: 1.5em;">
                                        {{brand.sinovac}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xl font-weight-bold text-primary text-uppercase mb-1" style="font-size: 1.5em;">
                                        Astrazeneca</div>
                                </div>
                                <div class="col mr-2 text-center">
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">#1 - {{brand.astrazeneca1}}
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">#2 - {{brand.astrazeneca2}}
                                    </div>
                                </div>
                                <div class="col text-center">
                                    <div class="text-xl font-weight-bold text-primary text-uppercase mb-1" style="font-size: 1.5em;">
                                        {{brand.astrazeneca}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>