<div class="mb-2 text-center" style="padding: 30px 0;">
    <img src="/images/logo.png" height="100" class="text-center mb-2" alt="">
    <h4 class="h4 mb-0 text-gray-800 text-center vaccine-head">ตรวจสอบนัดฉีดวัคซีน Covid 19</h4>
</div>

<div class="row ">
    <div class="col-12 text-center">
        <h3>เลขบัตรประชาชน</h3>
        <form>
            <!-- <div class="g-recaptcha" data-sitekey="6LeHLJkbAAAAALuTDVZwXFKvaUCEJ8YOUSfnhzXi"></div> -->
            <div class="g-recaptcha" data-sitekey="6LeHLJkbAAAAALuTDVZwXFKvaUCEJ8YOUSfnhzXi"
                data-callback="onReCaptcha"></div>

            <div class="form-group">
                <label for="cid"></label>
                <div class="row">
                    <div class="col-8"> <input type="text" class="form-control" id="cid" ng-model="cid" ng-value="cid"
                            ng-change="change()" placeholder="xxxxxxxxxxxxx" maxlength="13"
                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                    </div>
                    <div class="col-4"> <button class="btn btn-primary btn-block" type="submit" ng-click=check(cid)
                            ng-disabled="(cid + '').length < 13">ค้นหา</button></div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row mt-2" ng-if="(person.first_name && isInputChange)">
    <div class="col-12 col-md-6 mx-auto">
        <div class="card border-left-primary shadow h-100 py-2 mb-1"
            style="border-left: 0.25rem solid #800080 !important">
            <div class="card-body">
                <h4 class="card-title border-bottom">ข้อมูลการลงทะเบียน</h4>
                <div class="row  align-items-center">
                    <div class="col-12 mr-2 ">
                        <div class=" font-weight-bold text-primary text-uppercase " style="color: #800080 !important">
                            ชื่อ : {{person.prefix}}{{person.first_name}} {{person.last_name}} </div>
                        <div class=" font-weight-bold text-primary text-uppercase " style="color: #800080 !important">
                            กลุ่มเป้าหมาย : {{person.person_type_name }} </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-2"
    ng-if="(!isAppointment1 && !isAppointment2 && person && !queue.queue_no && !skt && mod11 && recap && isInputChange)">
    <div class="col-12 col-md-6 mx-auto">
        <div class="card border-left-primary shadow h-100 py-2 mb-1"
            style="border-left: 0.25rem solid #ff1e1e !important">
            <div class="card-body">
                <h4 class="card-title border-bottom" style="color: #ff1e1e !important">❌ไม่พบคิวการฉีดวัคซีน❌</h4>
                <div class="row  align-items-center">
                    <div class="col-12 mr-2 ">
                        <div class=" font-weight-bold text-primary text-uppercase " style="color: #00806b !important">
                            หากท่านมีภูมิลำเนาอยู่ในเขตอำเภอเมืองจังหวัดสุโขทัย </div>
                        <div class=" font-weight-bold text-primary text-uppercase " style="color: #00806b !important">
                            กรุณาติดต่อจุดลงทะเบียนฉีดวัคซีน </div>
                        <div class=" font-weight-bold text-primary text-uppercase " style="color: #00806b !important">
                            โรงพยาบาลสุโขทัย ในวันและเวลาราชการ</div>

                    </div>
                    <div class="col-12 text-center">
                        <button type="button" ng-click="registerBtn(cid)" ng-if="canAppointment"
                            class="btn btn-outline-primary my-2">ลงทะเบียนฉีดวัคซีน</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="(skt)">
    <div class="col-12 col-md-6 mx-auto">
        <div class="card mt-2" style="border-left: 0.25rem solid #1E90FF !important">
            <div class="card-body">
                <h4 class="card-title border-bottom">ข้อมูลการลงทะเบียนฉีดวัคซีน</h4>
                <div class="row mt-2">
                    <div class="col-12">
                        <div class="card shadow h-100 py-2 mb-1">
                            <div class="card-body">
                                <h5 class="card-title  font-weight-bold " style="color: #1E90FF !important"> สถานที่
                                    :โรงพยาบาลสุโขทัย </h5>
                                <div class="row align-items-center" style="margin-bottom: 0.75rem;">
                                    <div class="col-12 mr-2 ">
                                        <div class="text-primary text-uppercase" style="color: #333 !important">
                                            บันทึกข้อมูลเมื่อวันที่ {{skt}} </div>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-12 mr-2 ">
                                        <div class="text-primary text-uppercase" style="color: #333 !important">
                                            <span style="color: #ff1e1e;">*หมายเหตุ :</span>
                                            เมื่อถึงคิวรับบริการฉีดวัคซีน
                                            รพ.สุโขทัย จะส่ง SMS แจ้งวันนัดฉีดวัคซีนกับท่านอีกครั้ง
                                            ตามเบอร์โทรศัพท์ที่ให้ไว้กับทาง รพ.สุโขทัย
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="(!isAppointment1 && queue.queue_no)">
    <div class="col-12 col-md-6 mx-auto">
        <div class="card mt-2" style="border-left: 0.25rem solid #1E90FF !important">
            <div class="card-body">
                <h4 class="card-title border-bottom">คิวรอวันนัดฉีดวัคซีน</h4>
                <div class="row mt-2">
                    <div class="col-12">
                        <div class="card shadow h-100 py-2 mb-1">
                            <div class="card-body">
                                <h5 class="card-title  font-weight-bold " style="color: #1E90FF !important">คิวที่
                                    {{queue.queue_no}} </h5>
                                <div class="row align-items-center" style="margin-bottom: 0.75rem;">
                                    <div class="col-12 mr-2 ">
                                        <div class="text-primary text-uppercase" style="color: #333 !important">
                                            สถานที่ : {{queue.hospital_name}} </div>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-12 mr-2 ">
                                        <div class="text-primary text-uppercase" style="color: #333 !important">
                                            <span style="color: #ff1e1e;">*หมายเหตุ :</span>
                                            เมื่อถึงคิวรับบริการฉีดวัคซีน
                                            รพ.สุโขทัย จะส่ง SMS แจ้งวันนัดฉีดวัคซีนกับท่านอีกครั้ง
                                            ตามเบอร์โทรศัพท์ที่ให้ไว้กับทาง รพ.สุโขทัย
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row" ng-if="(isAppointment1  || isAppointment2)">
    <div class="col-12 col-md-6 mx-auto">
        <div class="card mt-2" style="border-left: 0.25rem solid #2E8B57 !important">
            <div class="card-body">
                <h4 class="card-title border-bottom">นัดหมายฉีดวัคซีน</h4>
                <div class="row mt-2">
                    <div class="col-12" ng-repeat="(index, item) in appointment">
                        <div class="card shadow h-100 py-2 mb-1">
                            <div class="card-body">
                                <h5 class="card-title  font-weight-bold " style="color: #2E8B57 !important">วันที่นัด
                                    {{item.appointment_date}} </h5>
                                <div class="row align-items-center">
                                    <div class="col-12 mr-2 ">
                                        <div class="font-weight-bold text-primary text-uppercase"
                                            style="color: #2E8B57 !important">
                                            เวลา : {{item.appointment_time }} </div>
                                        <div class="text-primary text-uppercase" style="color: #333 !important">
                                            เข็มที่ : {{item.dose}} </div>
                                        <div class="text-primary text-uppercase" style="color: #333 !important">
                                            สถานที่ : {{item.hospital_name}} </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .form-group {
        max-width: 50%;
        margin: auto;
    }

    @media (max-width: 600px) {
        .form-group {
            max-width: 100%;
        }

        .card-title {
            text-align: center;
        }
    }
</style>