<div class="mb-2" style="padding: 30px 0;">
    <h1 class="h3 mb-0 text-gray-800 text-center vaccine-head">ข้อมูลไม่ครบ</h1>
</div>

<div class="row d-none d-md-block ">
    <div class="col-12 text-center">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">HN</th>
                    <th scope="col">Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Q</th>
                    <th scope="col">Staff</th>
                    <th scope="col">CC</th>
                    <th scope="col">Visit</th>
                    <th scope="col">Vaccine</th>
                    <th scope="col">Plan</th>
                    <th scope="col">Lot</th>
                    <th scope="col">Moph</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(index, item) in patient">
                    <th scope="row">{{index+1}}</th>
                    <td class="hn" data-clipboard-text={{item.hn}}>{{item.hn}}</td>
                    <td style="text-align: left;">{{item.patient_name}}</td>
                    <td>{{item.date | date:'dd/MM/yyyy HH:mm'}}</td>
                    <td>{{item.mobile_phone_number}}</td>
                    <td>{{item.oqueue}}</td>
                    <td style="text-align: left;">{{item.staff}}</td>
                    <td style="text-align: left;">{{item.cc}}</td>
                    <td data-toggle="tooltip" data-placement="top" title={{item.dep}}>{{item.visit_count}}</td>
                    <td>{{item.vaccine_count}}</td>
                    <td>{{item.vaccine_plan_no}}</td>
                    <td>{{item.vaccine_lot_no}}</td>
                    <td>{{item.moph_update_status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row d-block d-sm-none">
    <div class="col-12">
        <div ng-repeat="(index, item) in patient" class="card border-left-primary shadow h-100 py-2 mb-1"
            style="border-left: 0.25rem solid #800080 !important">
            <div class="card-body">
                <div class="row  align-items-center">
                    <div class="col-12 mr-2 ">
                        <div class=" font-weight-bold text-primary text-uppercase " style="color: #800080 !important">
                            HN : {{item.hn}} Q:{{item.oqueue}}</div>
                        <div class=" font-weight-bold text-primary text-uppercase " style="color: #800080 !important">
                            Name : {{item.patient_name}}</div>
                        <div class=" font-weight-bold text-primary text-uppercase " style="color: #800080 !important">
                            วันที่มา : {{item.date | date:'dd/MM/yyyy HH:mm'}}</div>
                        <div class=" font-weight-bold text-primary text-uppercase " style="color: #800080 !important">
                            Phone : {{item.mobile_phone_number}}</div>
                        <div class=" font-weight-bold text-primary text-uppercase " style="color: #800080 !important">
                            staff : {{item.staff}}</div>
                        <div class=" font-weight-bold text-primary text-uppercase " style="color: #800080 !important">
                            cc : {{item.cc}}</div>
                        <div class=" mb-0 font-weight-bold text-gray-800 animate__animated ">
                            Plan : {{item.vaccine_plan_no}}</div>
                        <div class=" mb-0 font-weight-bold text-gray-800 animate__animated ">
                            Lot : {{item.vaccine_lot_no}}</div>
                        <div class=" mb-0 font-weight-bold text-gray-800 animate__animated " style="font-size: 0.8rem;">
                            Moph : {{item.moph_update_status}}</div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


<div class="mb-2" style="padding: 30px 0;">
    <h1 class="h3 mb-0 text-gray-800 text-center vaccine-head">ส่งผิดห้อง</h1>
</div>

<div class="row d-none d-md-block ">
    <div class="col-12 text-center">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">HN</th>
                    <th scope="col">Name</th>
                    <th scope="col">Dep</th>
                    <th scope="col">CC</th>
                    <th scope="col">Lot</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(index, item) in wrongdep">
                    <th scope="row">{{index+1}}</th>
                    <td class="hn" data-clipboard-text={{item.hn}}>{{item.hn}}</td>
                    <td style="text-align: center;">{{item.name}}</td>
                    <td style="text-align: center;">{{item.department}}</td>
                    <td style="text-align: center;">{{item.cc}}</td>
                    <td style="text-align: center;">{{item.vaccine_lot_no}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="mb-2" style="padding: 30px 0;">
    <h1 class="h3 mb-0 text-gray-800 text-center vaccine-head">ไม่มีเบอร์ / ไม่ลงประเภทวัคซีน / ประเภทคนไข้ผิด</h1>
</div>

<div class="row d-none d-md-block ">
    <div class="col-12 text-center">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">HN</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Symptom</th>
                    <th scope="col">Type</th>
                    <th scope="col">Staff</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(index, item) in visitfail">
                    <th scope="row">{{index+1}}</th>
                    <td class="hn" data-clipboard-text={{item.hn}}>{{item.hn}}</td>
                    <td style="text-align: center;">{{item.name}}</td>
                    <td style="text-align: center;">{{item.mobile_phone_number}}</td>
                    <td style="text-align: center;">{{item.symptom}}</td>
                    <td style="text-align: center;">{{item.type}}</td>
                    <td style="text-align: center;">{{item.staff}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    $(function () {
        setInterval(function () { $('[data-toggle="tooltip"]').tooltip() }, 1000);
        let clipboard = new ClipboardJS('.hn');
        clipboard.on('success', function (e) {
            $.notify('Copy to Clipboard  <i style="color: blueviolet;" class="far fa-clipboard"></i>', {
                delay: 1000,
                placement: {
                    from: "bottom",
                    align: "center"
                }
            });
            e.clearSelection();
        });

    })
</script>
<style>
    .hn {
        font-weight: 600;
        cursor: pointer;
        color: blueviolet;
        transition: 0.1s;
    }

    .hn:active {
        transform: scale(1.1);
    }
</style>