<div class="mb-2" style="padding: 30px 0;">
    <h1 class="h3 mb-0 text-gray-800 text-center vaccine-head">รายชื่อคนไข้ห้อง 444 ฉีดวัคซีน</h1>
</div>

<div class="table-responsive">
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">HN</th>
                <th scope="col">Name</th>
                <th scope="col" style="text-align: center;">Phone</th>
                <th scope="col" style="text-align: center;">Symptom</th>
                <th scope="col" style="text-align: center;">Type</th>
                <th scope="col" style="text-align: center;">Staff</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(index, item) in patientAll">
                <th scope="row">{{index+1}}</th>
                <td nowrap class="hn" data-clipboard-text={{item.hn}}>{{item.hn}}</td>
                <td nowrap style="text-align: left;">{{item.name}}</td>
                <td nowrap style="text-align: center;">{{item.mobile_phone_number}}</td>
                <td nowrap style="text-align: center;">{{item.symptom}}</td>
                <td nowrap style="text-align: center;">{{item.type}}</td>
                <td nowrap style="text-align: center;">{{item.staff}}</td>
            </tr>
        </tbody>
    </table>
</div>



<script>
    $(function () {

        let clipboard = new ClipboardJS('.hn');
        clipboard.on('success', function (e) {
            $.notify('Copy to Clipboard  <i style="color: blueviolet;" class="far fa-clipboard"></i>', {
                delay: 1000,
                placement: {
                    from: "bottom",
                    align: "center"
                }
            });
            e.clearSelection();
        });

    })
</script>
<style>
    .hn {
        font-weight: 600;
        cursor: pointer;
        color: blueviolet;
        transition: 0.1s;
    }

    .hn:active {
        transform: scale(1.1);
    }
</style>