<div class="mb-2" style="padding: 30px 0;">
    <h1 class="h3 mb-0 text-gray-800 text-center vaccine-head">รายงานผู้ได้รับวัคซีน COVID-19 ประจำวันที่ {{dateToday}}
    </h1>
    <h1 class="h3 mb-0 text-gray-800 text-center vaccine-head">โรงพยาบาลสุโขทัย</h1>
</div>

<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-4 mb-4">
        <div class="card border-left-primary shadow h-100 py-2" style="border-left: 0.25rem solid #800080 !important">
            <div class="card-body">
                <div class="row  align-items-center">
                    <div class="col mr-2 text-center">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 vaccine-item-title"
                            style="color: #800080 !important"><a href="#!/vaccine/patientall">จำนวน Visit</a> </div>
                        <div fadein val="sumAll"
                            class="h1 mb-0 font-weight-bold text-gray-800 animate__animated vaccine-item-value">
                             {{sumAllVisit | number : fractionSize}}</div>
                    </div>
                    <!-- <div class="col-auto">
                        <i class="fas fa-syringe fa-6x  text-primary"></i>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="d-block d-sm-none col-xl-4 col-md-4 mb-4">
        <div class="card border-left-primary shadow h-100 py-2" style="border-left: 0.25rem solid #FF7F50 !important">
            <div class="card-body">
                <div class="row  align-items-center">
                    <div class="col mr-2 text-center">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 vaccine-item-title"
                            style="color: #FF7F50 !important">จำนวนซักประวัติ</div>
                        <div fadein val="sumAll"
                            class="h1 mb-0 font-weight-bold text-gray-800 animate__animated vaccine-item-value">{{sumCC
                            | number : fractionSize}}</div>
                    </div>
                    <!-- <div class="col-auto">
                        <i class="fas fa-syringe fa-6x  text-primary"></i>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="d-block d-sm-none col-xl-4 col-md-4 mb-4">
        <div class="card border-left-primary shadow h-100 py-2" style="border-left: 0.25rem solid #FF7F50 !important">
            <div class="card-body">
                <div class="row  align-items-center">
                    <div class="col mr-2 text-center">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 vaccine-item-title"
                            style="color: #FF7F50 !important">Astra</div>
                    </div>
                    <!-- <div class="col-auto">
                        <i class="fas fa-syringe fa-6x  text-primary"></i>
                    </div> -->
                </div>
                <div class="row  align-items-center">
                    <div class="col text-center">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 vaccine-item-title"
                            style="color: #FF7F50 !important">เข็ม 1</div>
                        <div fadein val="sumAll"
                            class="h1 mb-0 font-weight-bold text-gray-800 animate__animated vaccine-item-value">{{Astra1
                            | number : fractionSize}}</div>
                    </div>
                    <div class="col text-center">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 vaccine-item-title"
                            style="color: #FF7F50 !important">เข็ม 2</div>
                        <div fadein val="sumAll"
                            class="h1 mb-0 font-weight-bold text-gray-800 animate__animated vaccine-item-value">{{Astra2
                            | number : fractionSize}}</div>
                    </div>
                    <!-- <div class="col-auto">
                        <i class="fas fa-syringe fa-6x  text-primary"></i>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="d-block d-sm-none col-xl-4 col-md-4 mb-4">
        <div class="card border-left-primary shadow h-100 py-2" style="border-left: 0.25rem solid #FF7F50 !important">
            <div class="card-body">
                <div class="row  align-items-center">
                    <div class="col mr-2 text-center">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 vaccine-item-title"
                            style="color: #FF7F50 !important">Sinovac</div>
                    </div>
                    <!-- <div class="col-auto">
                        <i class="fas fa-syringe fa-6x  text-primary"></i>
                    </div> -->
                </div>
                <div class="row  align-items-center">
                    <div class="col text-center">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 vaccine-item-title"
                            style="color: #FF7F50 !important">เข็ม 1</div>
                        <div fadein val="sumAll"
                            class="h1 mb-0 font-weight-bold text-gray-800 animate__animated vaccine-item-value">
                            {{Sinovac1 | number : fractionSize}}</div>
                    </div>
                    <div class="col text-center">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 vaccine-item-title"
                            style="color: #FF7F50 !important">เข็ม 2</div>
                        <div fadein val="sumAll"
                            class="h1 mb-0 font-weight-bold text-gray-800 animate__animated vaccine-item-value">
                            {{Sinovac2 | number : fractionSize}}</div>
                    </div>
                    <!-- <div class="col-auto">
                        <i class="fas fa-syringe fa-6x  text-primary"></i>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-md-4 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row  align-items-center">
                    <div class="col mr-2 text-center">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 vaccine-item-title">
                            จำนวนผู้ได้รับวัคซีน</div>
                        <div fadein val="sumAll"
                            class="h1 mb-0 font-weight-bold text-gray-800 animate__animated vaccine-item-value">{{sumAll
                            | number : fractionSize}}</div>
                    </div>
                    <!-- <div class="col-auto">
                        <i class="fas fa-syringe fa-6x  text-primary"></i>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="d-block d-sm-none col-xl-4 col-md-4 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row  align-items-center">
                    <div class="col  text-center">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 vaccine-item-title">เข็ม 1
                        </div>
                        <div fadein val="sumAll"
                            class="h1 mb-0 font-weight-bold text-gray-800 animate__animated vaccine-item-value">{{vacc1
                            | number : fractionSize}}</div>
                    </div>
                    <div class="col  text-center">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 vaccine-item-title">เข็ม 2
                        </div>
                        <div fadein val="sumAll"
                            class="h1 mb-0 font-weight-bold text-gray-800 animate__animated vaccine-item-value">{{vacc2
                            | number : fractionSize}}</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-4 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2 text-center">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1 vaccine-item-title">
                            จำนวนส่งขึ้น MOPH</div>
                        <div fadein val="sumAllOK"
                            class="h1 mb-0 font-weight-bold text-gray-800 animate__animated vaccine-item-value">
                            {{sumAllOK | number : fractionSize}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2" style="border-left: 0.25rem solid #800000 !important">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2 text-center">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1 vaccine-item-title"
                            style="color: #800000 !important">ยอดผู้ได้รับวัคซีน เข็ม 1 สะสม</div>
                        <!-- <div fadein val="sumAllOK" class="h1 mb-0 font-weight-bold text-gray-800 animate__animated" style="font-size: 15em;" {font}>{{patientall}}</div> -->
                        <div fadein val="patientAll"
                            class="h1 mb-0 font-weight-bold text-gray-800 animate__animated vaccine-item-value" {font}>
                            {{patientAll1 | number : fractionSize}} คน</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2" style="border-left: 0.25rem solid #FF0000 !important">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2 text-center">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1 vaccine-item-title"
                            style="color: #FF0000 !important">ยอดผู้ได้รับวัคซีน เข็ม 2 สะสม</div>
                        <!-- <div fadein val="sumAllOK" class="h1 mb-0 font-weight-bold text-gray-800 animate__animated" style="font-size: 15em;" {font}>{{patientall}}</div> -->
                        <div fadein val="patientAll"
                            class="h1 mb-0 font-weight-bold text-gray-800 animate__animated vaccine-item-value" {font}>
                            {{patientAll2 | number : fractionSize}} คน</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="mx-auto" style="width: 100%;"><a href="#!/vaccine/patientfail">fail</a></div>
<canvas id="confetti-canvas"></canvas>
<script>
    $(function () {
        var bottom = $(window).height() - link.height();
        bottom = offset.top - bottom;
        console.log(bottom);
        setTimeout(() => {
            let canvas = document.getElementsByTagName('canvas')[0];
            let body = document.body,
                html = document.documentElement;
            let height = Math.max(body.scrollHeight, body.offsetHeight,
                html.clientHeight, html.scrollHeight, html.offsetHeight);
            canvas.width = screen.width;
            canvas.height = height;
        }, 2000);

    })
</script>

<style>
    canvas {

        z-index: 999999;
        pointer-events: none;
        position: absolute;
        left: 0px;
        top: 0px;
    }
</style>