<div class="mb-1 text-center" style="padding: 1em 0;">
    <span class="h3 mb-0 text-gray-800  " style="font-size: 5em;">รายชื่อผู้ได้รับวัคซีนสังเกตุอาการ <span style="color: #B22222;">ครบ 30 นาที </span></span>
    <!-- <span class="Header-time">{{time}}</span> -->

</div>

<div class="row">
    <div class="col-12">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col" style="color: #444;">ชื่อ-สกุล</th>
                    <th scope="col" class="text-center">ได้รับวัคซีน</th>
                    <th scope="col" style="color: #B22222;text-align: center;">ครบ 30 นาที</th>
                    <!-- <th scope="col">ระยะเวลา(นาที)</th> -->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, value) in patient">
                    <td style="color: #444;">{{value.patient_name}}</td>
                    <td class="text-center">{{value.starttime}}</td>
                    <td style=" color: #B22222;text-align: center;">{{value.endtime}}</td>
                    <!-- <td>{{value.min}}</td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>
<p>{{showpage}}/{{showloop}}</p>


<style> 
table thead tr th {
  font-size: 5em;
  /* color: #333; */
}

table tbody tr td {
  font-size: 4.5em;
  /* color: #333; */
}
</style>