<div class="d-sm-flex align-items-center justify-content-between mb-2">
    <h1 class="h3 mb-0 text-gray-800">ข้อมูลความคลอบคลุมการฉีดวัคซีนของประชากร</h1>

</div>

<div class="row">
    <div class="col">
        <div class="card shadow mb-2">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">ประชากร อ.เมือง {{personCount || number}}</h6>
            </div>
            <div class="chart-container chart-dashboard ">
                <canvas id="vaccinepercent"></canvas>
            </div>
        </div>
    </div>
</div>

