<div>
  <div class="row">
    <div class="col">
      <h2>ไฟล์ตั้งลูกหนี้
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form class="form-inline" id='ucUpload'>
        <div class="form-group">
          <div class="custom-file">
            <input class="custom-file-input" id="ucdebt" type="file" name="ucdebt"
              file-model="ucdebt" />
            <label class="custom-file-label mx-sm-3" for="customFileLangHTML" data-browse="เลือก">Excel
            </label>
          </div>
        </div>
        <button class="btn btn-primary"  ng-disabled="!ucdebt" ng-click="upload()">Upload </button>
      </form>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    bsCustomFileInput.init()
   
  })
</script>