<div>
    <div class="d-sm-flex align-items-center justify-content-between mb-2">
        <h1 class="h3 mb-0 text-gray-800">รายงานผู้ป่วยนอกประจำวันที่ {{ dateToday }}</h1>
    </div>
    <h3 class="mb-2">เวลา {{ timeToday }}</h3>
    <div class="row">
        <div class="col">
            <div class="card shadow mb-2">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">กราฟ OPD Visit ทั้งหมด</h6>
                </div>
                <div class="chart-container" style="position: relative;margin: auto; height: 80vh;width: 80vw;">
                    <canvas id="opdvisitall"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card shadow mb-2">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">กราฟ OPD Visit (ในโรงพยาบาล)</h6>
                </div>
                <div class="chart-container" style="position: relative;margin: auto; height: 80vh;width: 80vw;">
                    <canvas id="opdvisitskth"></canvas>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card shadow mb-2">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">กราฟ คลินิกโรคหวัด (Visit)</h6>
                </div>
                <div class="chart-container" style="position: relative;margin: auto; height: 80vh;width: 80vw;">
                    <canvas id="puivisit"></canvas>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card shadow mb-2">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">กราฟ ผู้ป่วยห้องPUI (Visit)</h6>
                </div>
                <div class="chart-container" style="position: relative;margin: auto; height: 80vh;width: 80vw;">
                    <canvas id="puiroomvisit"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card shadow mb-2">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">กราฟผู้ป่วยWard Covid</h6>
                </div>
                <div class="chart-container" style="position: relative;margin: auto; height: 80vh;width: 80vw;">
                    <canvas id="puiwardvisit"></canvas>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card shadow mb-2">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">ห้องตรวจ screening COVID-19</h6>
                </div>
                <div class="chart-container" style="position: relative;margin: auto; height: 80vh;width: 80vw;">
                    <canvas id="screenvisit"></canvas>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card shadow mb-2">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">ห้องฉีดวัคซีน COVID-19</h6>
                </div>
                <div class="chart-container" style="position: relative;margin: auto; height: 80vh;width: 80vw;">
                    <canvas id="vaccinevisit"></canvas>
                </div>

            </div>
        </div>
    </div>
</div>