<div class="d-sm-flex align-items-center justify-content-between mb-2">
    <h1 class="h3 mb-0 text-gray-800">รายงานประจำวันที่ {{dateToday}}</h1>
</div>
<h3 class="mb-2">เวลา {{timeToday}}</h3>

<div class="row">
    <div class="col-12 col-md-6">
        <div class="card shadow mb-2">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">ยอดผู้ป่วยนอกจำแนกตามประเภท</h6>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <canvas id="typevisit" height="300"></canvas>
                </div>
                <div class="col-12 col-md-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">รายการ</th>
                                <th scope="col">จำนวน</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, value) in opddiag">
                                <th scope="row">{{value.rank}}</th>
                                <td>{{value.name}}</td>
                                <td>{{value.count}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>


    </div>
    <div class="col-12 col-md-6">
        <div class="card shadow mb-2">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">ผู้ป่วยส่งต่อ</h6>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <canvas id="refervisit" height="400"></canvas>
                </div>
                <div class="col-12 col-md-6">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p>รับ Refer {{referin}} ราย</p>
                            <canvas id="referinvisit" height="200"></canvas>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <p>ส่ง Refer {{referout}} ราย</p>
                            <canvas id="referoutvisit" height="200"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-6">
        <div class="card shadow mb-2">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">ยอดผู้ป่วยนอกที่เข้ารับบริการ (รายชั่วโมง)</h6>
            </div>
            <canvas id="typevisitline" height="400"></canvas>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="card shadow mb-2">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">ผู้ป่วยฉุกเฉิน</h6>
            </div>
            
        </div>
    </div>
</div>