<div class="row">
    <div class="col">
        <div class="card shadow mb-2">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">กราฟผู้ป่วย OPD ย้อนหลัง 30 วัน</h6>
                <!-- <h6 class="m-0 font-weight-bold text-primary">วันที่ {{dateToday}} {{timeToday}}</h6> -->
                <!-- <select id="dateSelect" ng-model="itemSelect" ng-change="selectDate(itemSelect)">
                    <option ng-repeat="item in dateOption" ng-selected="selected" value="{{item.value}}">{{item.name}}
                    </option>
                </select> -->
            </div>
            <div class="chart-container" style="position: relative;margin: auto; height: 80vh;width: 80vw;">
                <canvas id="dayvisit"></canvas>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card shadow mb-2">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">ตารางผู้ป่วย OPD ย้อนหลัง 30 วัน</h6>
                <!-- <h6 class="m-0 font-weight-bold text-primary">วันที่ {{dateToday}} {{timeToday}}</h6> -->
                <!-- <select id="dateSelect" ng-model="itemSelect" ng-change="selectDate(itemSelect)">
                    <option ng-repeat="item in dateOption" ng-selected="selected" value="{{item.value}}">{{item.name}}
                    </option>
                </select> -->
            </div>
            <table class="table table-bordered dataTable" id="dataTable" width="50%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 50%;">
                <thead>
                    <tr role="row">
                        <th class="sorting_asc text-center" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending">วันที่</th>
                        <th class="sorting text-center" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1">ทั้งหมด</th>
                        <th class="sorting text-center" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" ">รับยาร้านยา</th>
                    <th class="sorting text-center " tabindex="0 " aria-controls="dataTable " rowspan="1 " colspan="1 "
                         >Refill ประกันสังคม</th>
                    <th class="sorting text-center " tabindex="0 " aria-controls="dataTable " rowspan="1 " colspan="1 "
                         >เวชกรรมสังคม
                    </th>
                    <th class="sorting text-center " tabindex="0 " aria-controls="dataTable " rowspan="1 " colspan="1 "
                         >แผนไทยริมน้ำ</th>
                </tr>
            </thead>
            <tbody>
                <tr role="row " data-ng-repeat="i in item ">
                    <td class="text-center ">{{ i.gdate | date:"dd/MM/yyyy " }}</td>
                    <td class="text-center ">{{ i.t_all | number }}</td>
                    <td class="text-center ">{{ i.t_shop }}</td>
                    <td class="text-center ">{{ i.t079 }}</td>
                    <td class="text-center ">{{ i.t150 }}</td>
                    <td class="text-center ">{{ i.t_pcu }}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>