<div>
    <div class="row">
        <div class="col-12">
            <div class="card shadow mb-2">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">ยอดผู้ป่วยนอกที่เข้ารับบริการ</h6>
                    <div>{{dateToday}} {{timeNow}}</div>
                </div>
                <div class="chart-container" style="position: relative;margin: auto; height: 80vh;width: 80vw;">
                    <canvas id="department"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>