<div class="row">
    <div class="col">
        <div class="card shadow mb-2">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">ผู้ป่วย OPD ทั้งหมด {{visit}} Visit</h6>
                <!-- <h6 class="m-0 font-weight-bold text-primary">วันที่ {{dateToday}} {{timeToday}}</h6> -->
                <!-- <select id="dateSelect" ng-model="itemSelect" ng-change="selectDate(itemSelect)">
                    <option ng-repeat="item in dateOption" ng-selected="selected" value="{{item.value}}">{{item.name}}
                    </option>
                </select> -->
                <input class="input-medium" id="datepicker" value="{{dateToday}}" ng-model="dateToday" ng-change="selectDate(dateToday)" type="text" data-date-language="th-th">
            </div>
            <div class="chart-container" style="position: relative;margin: auto; height: 80vh;width: 80vw;">
                <canvas id="hourvisit"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-6">
        <div class="card shadow mb-2">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">ยอดผู้ป่วยนอกจำแนกตามประเภท</h6>
            </div>
            <div class="chart-container" style="position: relative;margin: auto; height: 80vh;width: 100%;">
                <canvas id="typevisit" height="400"></canvas>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="card shadow mb-2">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">ยอดผู้ป่วยนอกที่เข้ารับบริการ (รายชั่วโมง)</h6>
            </div>
            <div class="chart-container" style="position: relative;margin: auto; height: 80vh;width: 100%;">
                <canvas id="typevisitline" height="400"></canvas>
            </div>

        </div>
    </div>
</div>

<script>
    $('#datepicker').datepicker({
        todayHighlight: true,
        autoclose: true,
        format: 'dd MM yyyy',
        endDate: '+1d',
    });
</script>