<div class="row">
    <div class="col">
        <div class="card shadow mb-2">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">
                    ผู้ป่วย OPD Med ทั้งหมด {{visit}} Visit
                </h6>
                <div>{{dateToday}} {{timeNow}}</div>
                <!-- <h6 class="m-0 font-weight-bold text-primary">วันที่ {{dateToday}} {{timeToday}}</h6> -->
                <!-- <select id="dateSelect" ng-model="itemSelect" ng-change="selectDate(itemSelect)">
                    <option ng-repeat="item in dateOption" ng-selected="selected" value="{{item.value}}">{{item.name}}
                    </option>
                </select> -->
            </div>
            <div class="chart-container" style="position: relative;margin: auto; height: 80vh;width: 80vw;">
                <canvas id="hourmedvisit"></canvas>
            </div>
        </div>
    </div>
</div>

<script>
    $("#datepicker").datepicker({
        todayHighlight: true,
        autoclose: true,
        format: "dd MM yyyy",
        endDate: "+1d",
    });
</script>